{
  "swagger": "2.0",
  "info": {
    "version": "2016-03-01",
    "title": "ResourceHealthMetadata API Client"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Web/resourceHealthMetadata": {
      "get": {
        "tags": [
          "ResourceHealthMetadata"
        ],
        "summary": "List all ResourceHealthMetadata for all sites in the subscription.",
        "description": "List all ResourceHealthMetadata for all sites in the subscription. ResourceHealthMetadata contains details about what type of signal the site sends to Resource Health.",
        "operationId": "ResourceHealthMetadata_List",
        "x-ms-examples": {
          "List all ResourceHealthMetadata for all sites in the subscription.": {
            "$ref": "examples/ResourceHealthMetadataListBySubscription.json"
          }
        },
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResourceHealthMetadataCollection"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/resourceHealthMetadata": {
      "get": {
        "tags": [
          "ResourceHealthMetadata"
        ],
        "summary": "List all ResourceHealthMetadata for all sites in the resource group in the subscription.",
        "description": "List all ResourceHealthMetadata for all sites in the resource group in the subscription. ResourceHealthMetadata contains details about what type of signal the site sends to Resource Health.",
        "operationId": "ResourceHealthMetadata_ListByResourceGroup",
        "x-ms-examples": {
          "List all ResourceHealthMetadata for all sites in the resource group in the subscription.": {
            "$ref": "examples/ResourceHealthMetadataListByResourceGroup.json"
          }
        },
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResourceHealthMetadataCollection"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/resourceHealthMetadata": {
      "get": {
        "tags": [
          "ResourceHealthMetadata"
        ],
        "summary": "Gets the category of ResourceHealthMetadata to use for the given site",
        "description": "Gets the category of ResourceHealthMetadata to use for the given site. ResourceHealthMetadata contains details about what type of signal the site sends to Resource Health.",
        "operationId": "ResourceHealthMetadata_ListBySite",
        "x-ms-examples": {
          "Gets the category of ResourceHealthMetadata to use for the given site": {
            "$ref": "examples/ResourceHealthMetadataListBySite.json"
          }
        },
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of web app",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResourceHealthMetadataCollection"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/resourceHealthMetadata/{metadataName}": {
      "get": {
        "tags": [
          "ResourceHealthMetadata"
        ],
        "summary": "Gets the category of the ResourceHealthMetadata to use for the given site",
        "description": "Gets the category of the ResourceHealthMetadata to use for the given site. ResourceHealthMetadata contains details about what type of signal the site sends to Resource Health.",
        "operationId": "ResourceHealthMetadata_GetBySite",
        "x-ms-examples": {
          "Gets the category of the ResourceHealthMetadata to use for the given site": {
            "$ref": "examples/ResourceHealthMetadataGetBySite.json"
          }
        },
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of web app",
            "required": true,
            "type": "string"
          },
          {
            "name": "metadataName",
            "in": "path",
            "description": "Name of resource health metadata",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResourceHealthMetadata"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "Resource": {
      "description": "Azure resource. This resource is tracked in Azure Resource Manager",
      "required": [
        "location"
      ],
      "properties": {
        "id": {
          "description": "Resource Id.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Resource Name.",
          "type": "string",
          "readOnly": true
        },
        "kind": {
          "description": "Kind of resource.",
          "type": "string"
        },
        "location": {
          "description": "Resource Location.",
          "type": "string",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "type": {
          "description": "Resource type.",
          "type": "string",
          "readOnly": true
        },
        "tags": {
          "description": "Resource tags.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "x-ms-azure-resource": true
    },
    "ResourceHealthMetadata": {
      "description": "Used for getting ResourceHealthCheck settings.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "description": "ResourceHealthMetadata resource specific properties",
          "properties": {
            "category": {
              "description": "The category that the resource matches in the RHC Policy File",
              "type": "string"
            },
            "signalAvailability": {
              "description": "Is there a health signal for the resource",
              "type": "boolean"
            }
          },
          "x-ms-client-flatten": true
        }
      }
    },
    "ResourceHealthMetadataCollection": {
      "description": "Collection of resource health metadata.",
      "required": [
        "value"
      ],
      "type": "object",
      "properties": {
        "value": {
          "description": "Collection of resources.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ResourceHealthMetadata"
          }
        },
        "nextLink": {
          "description": "Link to next page of resources.",
          "type": "string",
          "readOnly": true
        }
      }
    }
  },
  "parameters": {
    "subscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "description": "Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).",
      "required": true,
      "type": "string"
    },
    "resourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "description": "Name of the resource group to which the resource belongs.",
      "required": true,
      "x-ms-parameter-location": "method",
      "type": "string",
      "maxLength": 90,
      "minLength": 1,
      "pattern": "^[-\\w\\._\\(\\)]+[^\\.]$"
    },
    "apiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "description": "API Version",
      "required": true,
      "type": "string"
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}