swagger: '2.0'

################################################################################
#                              API Information                                 #
################################################################################
info:
  version: v1
  title: Azure Log Analytics public API
  description: This API exposes Azure Log Analytics query capabilities
  termsOfService: https://dev.loganalytics.io/tos
  contact:
    name: AIAPI Team
    url: https://dev.loganalytics.io/support
    email: aiapi@microsoft.com
  license:
    name: Microsoft
    url: https://dev.loganalytics.io/license

  x-ms-code-generation-settings:
    internalConstructors: true

################################################################################
#                  Host, Base Path, Schemes and Content Types                  #
################################################################################

# This is the PROD endpoint. We also offer INT endpoints, shown below
host: api.loganalytics.io
#host: api.int.loganalytics.io
x-ms-parameterized-host:
  hostTemplate: api{environment}.loganalytics.io/{api-version}
  parameters:
    - $ref: '#/parameters/environment'
    - $ref: '#/parameters/api-version'

# This is the version part of the URL path. "beta" == "latest build". We will also
# offer stable versions e.g. "v1" "v2" etc. once we are ready to lock in the API.
#basePath: /v1

# All access is via HTTPS, regardless of authentication requirements
schemes:
  - https

# By default we only
consumes:
  - application/json
produces:
  - application/json

################################################################################
#        securityDefinitions & Security for all paths unless overridden        #
################################################################################

# Define the three flavors of API-key.
# TODO: add resource token to Swagger?
# TODO: do we add CSM paths to this Swagger as well? If so, also need to add AAD auth

securityDefinitions:
  # Draft will accept DEMO_KEY as a valid key for just one workspace - DEMO_WORKSPACE
  api-key-header:
      type: apiKey
      name: x-api-key
      in: header

  api-key-query:
      type: apiKey
      name: api_key
      in: query

  api-key-basic:
      type: basic

# Air specific security metadata
x-air-security-description:
  basic:
     typeDisplayName: Basic Auth
     description: Use the API key 'DEMO_KEY' as either username or password with normal HTTP basic auth [[More info](/documentation/Authorization)]
  apiKey:
      typeDisplayName: API key
      description: Pass the API key 'DEMO_KEY' via an `X-Api-Key` custom header or an `api_key` query parameter. [[More info](/documentation/Authorization)]

# These apply to all paths unless overridden; at least one of these must be supplied
security:
  - api-key-header: []
  - api-key-query: []
  - api-key-basic: []

################################################################################
#                                    Paths                                     #
################################################################################
paths:

###########################################
# Query-related paths

  /workspaces/{workspace-id}/query:
    get:
      operationId: Query_Get
      summary: Execute an Analytics query
      description: Executes an Analytics query for data
      x-ms-examples:
        query:
          $ref: examples/oms-get-example.yaml
      parameters:
        - $ref: '#/parameters/workspace-id'
        - $ref: '#/parameters/query-param'
        - $ref: '#/parameters/timespan-param'
        - $ref: '#/parameters/prefer-param'
      responses:
        200:
          description: OK. The API call succeeded and the Analytics query result is in the response payload
          schema:
            $ref: '#/definitions/query-response'
        204:
          description: No Content. The {workspace-id} being queried has not yet been enabled for Analytics queries and populated with data
        default:
          description: >
            400:
              description: Bad Request. The request was invalid; can be caused by a bad API request body, or errors in the Analytics query in the request
            401:
              description: Unauthorized. No authentication was provided; authenticate and re-issue the API call
            403:
              description: Forbidden. Authentication was provided, but the caller did not have the necessary permissions
            404:
              description: Not Found. The caller supplied an invalid {workspace-id}
            429:
              description: Too Many Requests. The caller has exceeded the rate limits for the user/workspace
            500:
              description: Internal Server Error. The service experienced an unexpected error while processing the request
            502:
              description: Bad Gateway. A downstream service dependency experienced an internal service error while processing the request
            503:
              description: Service Unavailable. A downstream service dependency was temporarily unavailable due to load or maintenance
            504:
              description: Gateway Timeout. A downstream service dependency timed out while processing the request
          schema:
            $ref: '#/definitions/error-response'

    post:
      operationId: Query_Post
      summary: Execute an Analytics query
      description: Executes an Analytics query for data. [Here](/documentation/2-Using-the-API/Query) is an example for using POST with an Analytics query.
      x-ms-examples:
        query:
          $ref: examples/oms-post-example.yaml
      parameters:
        - $ref: '#/parameters/workspace-id'
        - $ref: '#/parameters/query-body'
        - $ref: '#/parameters/timespan-param'
        - $ref: '#/parameters/prefer-param'
      responses:
        200:
          description: OK. The API call succeeded and the Analytics query result is in the response payload
          schema:
            $ref: '#/definitions/query-response'
        204:
          description: No Content. The {workspace-id} being queried has not yet been enabled for Analytics queries and populated with data
        default:
          description: >
            400:
              description: Bad Request. The request was invalid; can be caused by a bad API request body, or errors in the Analytics query in the request
            401:
              description: Unauthorized. No authentication was provided; authenticate and re-issue the API call
            403:
              description: Forbidden. Authentication was provided, but the caller did not have the necessary permissions
            404:
              description: Not Found. The caller supplied an invalid {workspace-id}
            429:
              description: Too Many Requests. The caller has exceeded the rate limits for the user/workspace
            500:
              description: Internal Server Error. The service experienced an unexpected error while processing the request
            502:
              description: Bad Gateway. A downstream service dependency experienced an internal service error while processing the request
            503:
              description: Service Unavailable. A downstream service dependency was temporarily unavailable due to load or maintenance
            504:
              description: Gateway Timeout. A downstream service dependency timed out while processing the request
          schema:
            $ref: '#/definitions/error-response'

###########################################
# Internal/service-related paths
# /$batch:

################################################################################
#                                   Parameters                                 #
################################################################################
parameters:

  environment:
    name: environment
    required: false
    type: string
    x-ms-skip-url-encoding: true
    default: ""
    in: path
    enum:
      - 
      - .aimon
      - .int

  api-version:
    name: api-version
    description: The version of the API to use. This is either 'v1' (the current stable API version) or 'beta' (the next version of the API, under development)
    in: path
    required: false
    type: string
    default: v1
    enum:
      - beta
      - v1

  workspace-id:
    # Draft will accept DEMO_WORKSPACE as a valid workspace ID for just one API key - DEMO_KEY
    name: workspace-id
    description: ID of the workspace. This is Workspace ID from the Properties blade in the Azure portal.
    in: path
    required: true
    type: string
    # We really want to add 'format: uuid', but then DEMO_WORKSPACE wouldn't work
    x-ms-parameter-location: client

  # TODO CAREFUL Keep this in sync with its respective definition
  query-body:
    name: body
    in: body
    description: HTTP request body
    schema:
      $ref: '#/definitions/query-body'
    x-ms-examples:
      Example 1:
        query: traces | limit 10
      Example 2:
        query: requests | where timestamp > ago(1d) | summarize count() by operation_Name
    x-ms-parameter-location: method

  timespan-param:
    name: timespan
    description: Optional. The timespan over which to query data. This is an ISO8601 time period value.  This timespan is applied in addition to any that are specified in the query expression.
    in: query
    type: string
    # We really want to add 'format: date-time-period', but AutoRest doesn't support this.
    x-ms-parameter-location: method

  # TODO CAREFUL Keep this in sync with its respective definition
  query-param:
    name: query
    description: The Analytics query. Learn more about the [Analytics query syntax](https://azure.microsoft.com/documentation/articles/app-insights-analytics-reference/)
    in: query
    type: string
    x-ms-parameter-location: method

  prefer-param:
    name: prefer
    description: Optional. HTTP preferences that should be applied to the query
    in: query
    type: string
    x-ms-parameter-location: method

################################################################################
#                                   headers                                    #
################################################################################
#  headers:
#    Retry-After:
#      description: Time in seconds to wait until retrying the call
#      type: integer
#    X-Api-Key:
#      description: The API key to authorize the call with
#      type: string
#    Data-Version:
#      type: string
#      default: 4.0

################################################################################
#                                 Definitions                                  #
################################################################################
definitions:
  # TODO CAREFUL Keep this in sync with its respective parameters
  query-param:
    description: The Analytics query. Learn more about the [Analytics query syntax](https://azure.microsoft.com/documentation/articles/app-insights-analytics-reference/)
    type: string

  # TODO CAREFUL Keep this in sync with its respective parameters
  timespan-param:
    name: timespan
    description: Optional. The timespan over which to query data. This is an ISO8601 time period value.  This timespan is applied in addition to any that are specified in the query expression.
    type: string
    # We really want to add 'format: date-time-period', but AutoRest doesn't support this.

  # TODO CAREFUL Keep this in sync with its respective parameters
  query-body:
    title: The Analytics query. Learn more about the [Analytics query syntax](https://azure.microsoft.com/documentation/articles/app-insights-analytics-reference/)
    type: object
    properties:
      query:
        description: The query to execute.
        $ref: '#/definitions/query-param'
      timespan:
        description: Optional. The timespan over which to query data. This is an ISO8601 time period value.  This timespan is applied in addition to any that are specified in the query expression.
        $ref: '#/definitions/timespan-param'
    required:
      - query

  query-response:
    title: A query response.
    description: Contains the tables, columns & rows resulting from a query.
    type: object
    properties:
      tables:
        description: The list of tables, columns and rows.
        type: array
        items:
          $ref: '#/definitions/table-object'
      render:
        description: Contains visualization rendering data, if requested. See https://docs.loganalytics.io/docs/Language-Reference/Tabular-operators/render-operator
        type: object
        properties:
          visualization:
            description: The type of visualization (barchart, table, piechart, etc.)
            type: string
          title:
            description: The title of the visualization.
            type: string
          accumulate:
            description: Indicates whether y-axis values should be accumulated.
            type: string
          isQuerySorted:
            description: Indicates whether the query is sorted.
            type: boolean
          kind:
            description: Indicates the kind of visualization, if the visualization type supports multiple.
            type: string
          annotation:
            description: An string value that makes us look stupid (try using "cat").
            type: string
          by:
            description: Used by some visualizations to control which axis is driven by which column in the data.
            type: string
      statistics:
        additionalProperties:
          type: object

  table-object:
    title: A query response table.
    description: Contains the columns and rows for one table in a query response.
    type: object
    properties:
      name:
        description: The name of the table.
        type: string
      columns:
        description: The list of columns in this table.
        type: array
        items:
          type: object
          properties: 
            name:
              description: The name of this column.
              type: string
            type:
              description: The data type of this column.
              type: string
      rows:
        description: The resulting rows from this query.
        type: array
        items:
          type: array
          items:
            type: string
    required: 
    - name
    - columns
    - rows

  error-info:
    title: The code and message for an error.
    type: object
    properties:
      message:
        description: A human readable error message.
        type: string
      code:
        description: A machine readable error code.
        type: string
      innererror:
        description: Inner error details if they exist.
        $ref: '#/definitions/error-info'

  error-response:
    title: Error details.
    description: Contains details when the response code indicates an error.
    type: object
    properties:
      error:
        description: The error details.
        $ref: '#/definitions/error-info'

#definitions:
#
#  ErrorModel:
#    type: object
#    required:
#      - code
#      - message
#    properties:
#      code:
#        type: integer
#        format: int32
#      message:
#        type: string
#  ColumnObject:
#    type: object
#    properties:
#      name:
#        type: string
#      type:
#        type: string
#
#  NotFound:
#    description: Entity not found.
#
#  IllegalInput:
#    description: Illegal input for operation.
#
#  GeneralError:
#    description: General Error
#
#  metric-value:
#    $ref: 'draft-metrics-schema.json#/definitions/metric-value'
#  multi-metric-value:
#    $ref: 'draft-metrics-schema.json#/definitions/multi-metric-value'
#  metric-metadata:
#    $ref: 'draft-metrics-schema.json#/definitions/metric-metadata'
#  segment:
#    $ref: 'draft-metrics-schema.json#/definitions/segment'
#  counter:
#    $ref: 'draft-metrics-schema.json#/definitions/counter'
#  measure:
#    $ref: 'draft-metrics-schema.json#/definitions/measure'
#  query-text:
#    type: object
#
###############################################################################
#                                   TODO                                      #
###############################################################################
