{
    "swagger": "2.0",
    "info": {
        "version": "v1",
        "title": "Azure Log Analytics public API",
        "description": "This API exposes Azure Log Analytics query capabilities",
        "termsOfService": "https://dev.loganalytics.io/tos",
        "contact": {
            "name": "AIAPI Team",
            "url": "https://dev.loganalytics.io/support",
            "email": "aiapi@microsoft.com"
        },
        "license": {
            "name": "Microsoft",
            "url": "https://dev.loganalytics.io/license"
        },
        "x-ms-code-generation-settings": {
            "internalConstructors": true
        }
    },
    "host": "api.loganalytics.io",
    "x-ms-parameterized-host": {
        "hostTemplate": "api.loganalytics.io/{api-version}",
        "parameters": [
            {
                "$ref": "#/parameters/api-version"
            }
        ]
    },
    "schemes": [
        "https"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "securityDefinitions": {
        "api-key-header": {
            "type": "apiKey",
            "name": "x-api-key",
            "in": "header"
        },
        "api-key-query": {
            "type": "apiKey",
            "name": "api_key",
            "in": "query"
        },
        "api-key-basic": {
            "type": "basic"
        }
    },
    "x-air-security-description": {
        "basic": {
            "typeDisplayName": "Basic Auth",
            "description": "Use the API key 'DEMO_KEY' as either username or password with normal HTTP basic auth [[More info](/documentation/Authorization)]"
        },
        "apiKey": {
            "typeDisplayName": "API key",
            "description": "Pass the API key 'DEMO_KEY' via an `X-Api-Key` custom header or an `api_key` query parameter. [[More info](/documentation/Authorization)]"
        }
    },
    "security": [
        {
            "api-key-header": []
        },
        {
            "api-key-query": []
        },
        {
            "api-key-basic": []
        }
    ],
    "paths": {
        "/workspaces/{workspace-id}/query": {
            "post": {
                "tags": [
                    "Query"
                ],
                "operationId": "Query",
                "summary": "Execute an Analytics query",
                "description": "Executes an Analytics query for data. [Here](/documentation/2-Using-the-API/Query) is an example for using POST with an Analytics query.",
                "x-ms-examples": {
                    "query": {
                        "$ref": "examples/oms-post-example.json"
                    }
                },
                "parameters": [
                    {
                        "$ref": "#/parameters/workspace-id"
                    },
                    {
                        "$ref": "#/parameters/query-body"
                    },
                    {
                        "$ref": "#/parameters/timespan-param"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK. The API call succeeded and the Analytics query result is in the response payload",
                        "schema": {
                            "$ref": "#/definitions/query-response"
                        }
                    },
                    "default": {
                        "description": "An error response object.",
                        "schema": {
                            "$ref": "#/definitions/error-response"
                        }
                    }
                }
            }
        }
    },
    "parameters": {
        "api-version": {
            "name": "api-version",
            "description": "The version of the API to use. This is either 'v1' (the current stable API version) or 'beta' (the next version of the API, under development)",
            "in": "path",
            "required": false,
            "type": "string",
            "default": "v1",
            "enum": [
                "beta",
                "v1"
            ]
        },
        "workspace-id": {
            "name": "workspace-id",
            "description": "ID of the workspace. This is Workspace ID from the Properties blade in the Azure portal.",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "client"
        },
        "query-body": {
            "name": "body",
            "in": "body",
            "description": "HTTP request body",
            "schema": {
                "$ref": "#/definitions/query-body"
            },
            "x-ms-parameter-location": "method"
        },
        "timespan-param": {
            "name": "timespan",
            "description": "Optional. The timespan over which to query data. This is an ISO8601 time period value.  This timespan is applied in addition to any that are specified in the query expression.",
            "in": "query",
            "type": "string",
            "x-ms-parameter-location": "method"
        },
        "query-param": {
            "name": "query",
            "description": "The Analytics query. Learn more about the [Analytics query syntax](https://azure.microsoft.com/documentation/articles/app-insights-analytics-reference/)",
            "in": "query",
            "type": "string",
            "x-ms-parameter-location": "method"
        }
    },
    "definitions": {
        "query-param": {
            "description": "The Analytics query. Learn more about the [Analytics query syntax](https://azure.microsoft.com/documentation/articles/app-insights-analytics-reference/)",
            "type": "string"
        },
        "timespan-param": {
            "description": "Optional. The timespan over which to query data. This is an ISO8601 time period value.  This timespan is applied in addition to any that are specified in the query expression.",
            "type": "string"
        },
        "query-body": {
            "title": "The Analytics query. Learn more about the [Analytics query syntax](https://azure.microsoft.com/documentation/articles/app-insights-analytics-reference/)",
            "type": "object",
            "properties": {
                "query": {
                    "description": "The query to execute.",
                    "$ref": "#/definitions/query-param"
                },
                "timespan": {
                    "description": "Optional. The timespan over which to query data. This is an ISO8601 time period value.  This timespan is applied in addition to any that are specified in the query expression.",
                    "$ref": "#/definitions/timespan-param"
                }
            }
        },
        "query-response": {
            "title": "A query response.",
            "description": "Contains the tables, columns & rows resulting from a query.",
            "type": "object",
            "properties": {
                "tables": {
                    "description": "The list of tables, columns and rows.",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/table-object"
                    }
                }
            }
        },
        "table-object": {
            "title": "A query response table.",
            "description": "Contains the columns and rows for one table in a query response.",
            "type": "object",
            "properties": {
                "name": {
                    "description": "The name of the table.",
                    "type": "string"
                },
                "columns": {
                    "description": "The list of columns in this table.",
                    "type": "array",
                    "items": {
                        "type": "object",
                        "properties": {
                            "name": {
                                "description": "The name of this column.",
                                "type": "string"
                            },
                            "type": {
                                "description": "The data type of this column.",
                                "type": "string"
                            }
                        }
                    }
                },
                "rows": {
                    "description": "The resulting rows from this query.",
                    "type": "array",
                    "items": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    }
                }
            },
            "required": [
                "name",
                "columns",
                "rows"
            ]
        },
        "error-info": {
            "title": "The code and message for an error.",
            "type": "object",
            "properties": {
                "message": {
                    "description": "A human readable error message.",
                    "type": "string"
                },
                "code": {
                    "description": "A machine readable error code.",
                    "type": "string"
                },
                "innererror": {
                    "description": "Inner error details if they exist.",
                    "$ref": "#/definitions/error-info"
                }
            }
        },
        "error-response": {
            "title": "Error details.",
            "description": "Contains details when the response code indicates an error.",
            "type": "object",
            "properties": {
                "error": {
                    "description": "The error details.",
                    "$ref": "#/definitions/error-info"
                }
            }
        }
    }
}