{
    "swagger": "2.0",
    "info": {
        "version": "v1",
        "title": "Azure Log Analytics public API",
        "description": "This API exposes Azure Log Analytics query capabilities",
        "termsOfService": "https://dev.loganalytics.io/tos",
        "contact": {
            "name": "AIAPI Team",
            "url": "https://dev.loganalytics.io/support",
            "email": "aiapi@microsoft.com"
        },
        "license": {
            "name": "Microsoft",
            "url": "https://dev.loganalytics.io/license"
        },
        "x-ms-code-generation-settings": {
            "internalConstructors": true
        }
    },
    "host": "api.loganalytics.io",
    "x-ms-parameterized-host": {
        "hostTemplate": "api{environment}.loganalytics.io/{api-version}",
        "parameters": [
            {
                "name": "environment",
                "description": "Internal use only: Log Analytics environment to query against.",
                "required": false,
                "type": "string",
                "x-ms-skip-url-encoding": true,
                "default": "",
                "in": "path",
                "enum": [
                    null,
                    ".aimon",
                    ".int"
                ]
            },
            {
                "name": "api-version",
                "description": "The version of the API to use. This is either 'v1' (the current stable API version) or 'beta' (the next version of the API, under development)",
                "in": "path",
                "required": false,
                "type": "string",
                "default": "v1",
                "enum": [
                    "beta",
                    "v1"
                ]
            }
        ]
    },
    "schemes": [
        "https"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "securityDefinitions": {
        "api-key-header": {
            "type": "apiKey",
            "name": "x-api-key",
            "in": "header"
        },
        "api-key-query": {
            "type": "apiKey",
            "name": "api_key",
            "in": "query"
        },
        "api-key-basic": {
            "type": "basic"
        }
    },
    "x-air-security-description": {
        "basic": {
            "typeDisplayName": "Basic Auth",
            "description": "Use the API key 'DEMO_KEY' as either username or password with normal HTTP basic auth [[More info](/documentation/Authorization)]"
        },
        "apiKey": {
            "typeDisplayName": "API key",
            "description": "Pass the API key 'DEMO_KEY' via an `X-Api-Key` custom header or an `api_key` query parameter. [[More info](/documentation/Authorization)]"
        }
    },
    "security": [
        {
            "api-key-header": []
        },
        {
            "api-key-query": []
        },
        {
            "api-key-basic": []
        }
    ],
    "paths": {
        "/workspaces/{workspace-id}/query": {
            "post": {
                "tags": [
                    "Query"
                ],
                "operationId": "Query_Post",
                "summary": "Execute an Analytics query",
                "description": "Executes an Analytics query for data. [Here](/documentation/2-Using-the-API/Query) is an example for using POST with an Analytics query.",
                "x-ms-examples": {
                    "query": {
                        "$ref": "examples/oms-post-example.yaml"
                    }
                },
                "parameters": [
                    {
                        "$ref": "#/parameters/workspace-id"
                    },
                    {
                        "$ref": "#/parameters/query-body"
                    },
                    {
                        "$ref": "#/parameters/timespan-param"
                    },
                    {
                        "$ref": "#/parameters/prefer-param"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK. The API call succeeded and the Analytics query result is in the response payload",
                        "schema": {
                            "$ref": "#/definitions/query-response"
                        }
                    },
                    "204": {
                        "description": "No Content. The {workspace-id} being queried has not yet been enabled for Analytics queries and populated with data"
                    },
                    "default": {
                        "description": "400:\n  description: Bad Request. The request was invalid; can be caused by a bad API request body, or errors in the Analytics query in the request\n401:\n  description: Unauthorized. No authentication was provided; authenticate and re-issue the API call\n403:\n  description: Forbidden. Authentication was provided, but the caller did not have the necessary permissions\n404:\n  description: Not Found. The caller supplied an invalid {workspace-id}\n429:\n  description: Too Many Requests. The caller has exceeded the rate limits for the user/workspace\n500:\n  description: Internal Server Error. The service experienced an unexpected error while processing the request\n502:\n  description: Bad Gateway. A downstream service dependency experienced an internal service error while processing the request\n503:\n  description: Service Unavailable. A downstream service dependency was temporarily unavailable due to load or maintenance\n504:\n  description: Gateway Timeout. A downstream service dependency timed out while processing the request\n",
                        "schema": {
                            "$ref": "#/definitions/error-response"
                        }
                    }
                }
            }
        }
    },
    "parameters": {
        "workspace-id": {
            "name": "workspace-id",
            "description": "ID of the workspace. This is Workspace ID from the Properties blade in the Azure portal.",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "client"
        },
        "query-body": {
            "name": "body",
            "in": "body",
            "description": "HTTP request body",
            "schema": {
                "$ref": "#/definitions/query-body"
            },
            "x-ms-examples": {
                "Example 1": {
                    "query": "traces | limit 10"
                },
                "Example 2": {
                    "query": "requests | where timestamp > ago(1d) | summarize count() by operation_Name"
                }
            },
            "x-ms-parameter-location": "method"
        },
        "timespan-param": {
            "name": "timespan",
            "description": "Optional. The timespan over which to query data. This is an ISO8601 time period value.  This timespan is applied in addition to any that are specified in the query expression.",
            "in": "query",
            "type": "string",
            "x-ms-parameter-location": "method"
        },
        "query-param": {
            "name": "query",
            "description": "The Analytics query. Learn more about the [Analytics query syntax](https://azure.microsoft.com/documentation/articles/app-insights-analytics-reference/)",
            "in": "query",
            "type": "string",
            "x-ms-parameter-location": "method"
        },
        "prefer-param": {
            "name": "prefer",
            "description": "Optional. HTTP preferences that should be applied to the query",
            "in": "query",
            "type": "string",
            "x-ms-parameter-location": "method"
        }
    },
    "definitions": {
        "query-param": {
            "description": "The Analytics query. Learn more about the [Analytics query syntax](https://azure.microsoft.com/documentation/articles/app-insights-analytics-reference/)",
            "type": "string"
        },
        "timespan-param": {
            "description": "Optional. The timespan over which to query data. This is an ISO8601 time period value.  This timespan is applied in addition to any that are specified in the query expression.",
            "type": "string"
        },
        "query-body": {
            "title": "The Analytics query. Learn more about the [Analytics query syntax](https://azure.microsoft.com/documentation/articles/app-insights-analytics-reference/)",
            "type": "object",
            "properties": {
                "query": {
                    "description": "The query to execute.",
                    "$ref": "#/definitions/query-param"
                },
                "timespan": {
                    "description": "Optional. The timespan over which to query data. This is an ISO8601 time period value.  This timespan is applied in addition to any that are specified in the query expression.",
                    "$ref": "#/definitions/timespan-param"
                }
            }
        },
        "query-response": {
            "title": "A query response.",
            "description": "Contains the tables, columns & rows resulting from a query.",
            "type": "object",
            "properties": {
                "tables": {
                    "description": "The list of tables, columns and rows.",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/table-object"
                    }
                },
                "render": {
                    "description": "Contains visualization rendering data, if requested. See https://docs.loganalytics.io/docs/Language-Reference/Tabular-operators/render-operator",
                    "type": "object",
                    "properties": {
                        "visualization": {
                            "description": "The type of visualization (barchart, table, piechart, etc.)",
                            "type": "string"
                        },
                        "title": {
                            "description": "The title of the visualization.",
                            "type": "string"
                        },
                        "accumulate": {
                            "description": "Indicates whether y-axis values should be accumulated.",
                            "type": "string"
                        },
                        "isQuerySorted": {
                            "description": "Indicates whether the query is sorted.",
                            "type": "boolean"
                        },
                        "kind": {
                            "description": "Indicates the kind of visualization, if the visualization type supports multiple.",
                            "type": "string"
                        },
                        "annotation": {
                            "description": "An string value that makes us look stupid (try using \"cat\").",
                            "type": "string"
                        },
                        "by": {
                            "description": "Used by some visualizations to control which axis is driven by which column in the data.",
                            "type": "string"
                        }
                    }
                },
                "statistics": {
                    "description": "Contains query statistics.",
                    "additionalProperties": {
                        "type": "object"
                    }
                }
            }
        },
        "table-object": {
            "title": "A query response table.",
            "description": "Contains the columns and rows for one table in a query response.",
            "type": "object",
            "properties": {
                "name": {
                    "description": "The name of the table.",
                    "type": "string"
                },
                "columns": {
                    "description": "The list of columns in this table.",
                    "type": "array",
                    "items": {
                        "type": "object",
                        "properties": {
                            "name": {
                                "description": "The name of this column.",
                                "type": "string"
                            },
                            "type": {
                                "description": "The data type of this column.",
                                "type": "string"
                            }
                        }
                    }
                },
                "rows": {
                    "description": "The resulting rows from this query.",
                    "type": "array",
                    "items": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    }
                }
            },
            "required": [
                "name",
                "columns",
                "rows"
            ]
        },
        "error-info": {
            "title": "The code and message for an error.",
            "type": "object",
            "properties": {
                "message": {
                    "description": "A human readable error message.",
                    "type": "string"
                },
                "code": {
                    "description": "A machine readable error code.",
                    "type": "string"
                },
                "innererror": {
                    "description": "Inner error details if they exist.",
                    "$ref": "#/definitions/error-info"
                }
            }
        },
        "error-response": {
            "title": "Error details.",
            "description": "Contains details when the response code indicates an error.",
            "type": "object",
            "properties": {
                "error": {
                    "description": "The error details.",
                    "$ref": "#/definitions/error-info"
                }
            }
        }
    }
}