{
  "swagger": "2.0",
  "info": {
    "version": "2017-04-24-preview",
    "title": "BillingManagementClient",
    "description": "Billing client provides access to billing resources for Azure Web-Direct subscriptions. Other subscription types which were not purchased directly through the Azure web portal are not supported through this preview API."
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Billing/billingPeriods": {
      "get": {
        "tags": [
          "BillingPeriods"
        ],
        "operationId": "BillingPeriods_List",
        "description": "Lists the available billing periods for a subscription in reverse chronological order.",
        "externalDocs": {
          "url": "https://go.microsoft.com/fwlink/?linkid=844490"
        },
        "x-ms-examples": {
          "BillingPeriodsList": {
            "$ref": "./examples/BillingPeriodsList.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "name": "$filter",
            "description": "May be used to filter billing periods by billingPeriodEndDate. The filter supports 'eq', 'lt', 'gt', 'le', 'ge', and 'and'. It does not currently support 'ne', 'or', or 'not'.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "$skiptoken",
            "description": "Skiptoken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skiptoken parameter that specifies a starting point to use for subsequent calls.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "$top",
            "description": "May be used to limit the number of results to the most recent N billing periods.",
            "in": "query",
            "required": false,
            "type": "integer",
            "minimum": 1,
            "maximum": 100
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/BillingPeriodsListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Billing/billingPeriods/{billingPeriodName}": {
      "get": {
        "tags": [
          "BillingPeriods"
        ],
        "operationId": "BillingPeriods_Get",
        "description": "Gets a named billing period.",
        "x-ms-examples": {
          "BillingPeriodsGet": {
            "$ref": "./examples/BillingPeriodsGet.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "name": "billingPeriodName",
            "description": "The name of a BillingPeriod resource.",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/BillingPeriod"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Billing/invoices": {
      "get": {
        "tags": [
          "Invoices"
        ],
        "operationId": "Invoices_List",
        "description": "Lists the available invoices for a subscription in reverse chronological order beginning with the most recent invoice. In preview, invoices are available via this API only for invoice periods which end December 1, 2016 or later.",
        "externalDocs": {
          "url": "https://go.microsoft.com/fwlink/?linkid=842057"
        },
        "x-ms-examples": {
          "InvoicesList": {
            "$ref": "./examples/InvoicesList.json"
          },
          "InvoicesExpand": {
            "$ref": "./examples/InvoicesExpand.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "name": "$expand",
            "description": "May be used to expand the downloadUrl property within a list of invoices. This enables download links to be generated for multiple invoices at once. By default, downloadURLs are not included when listing invoices.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "$filter",
            "description": "May be used to filter invoices by invoicePeriodEndDate. The filter supports 'eq', 'lt', 'gt', 'le', 'ge', and 'and'. It does not currently support 'ne', 'or', or 'not'.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "$skiptoken",
            "description": "Skiptoken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skiptoken parameter that specifies a starting point to use for subsequent calls.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "$top",
            "description": "May be used to limit the number of results to the most recent N invoices.",
            "in": "query",
            "required": false,
            "type": "integer",
            "minimum": 1,
            "maximum": 100
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/InvoicesListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Billing/invoices/{invoiceName}": {
      "get": {
        "tags": [
          "Invoices"
        ],
        "operationId": "Invoices_Get",
        "description": "Gets a named invoice resource. When getting a single invoice, the downloadUrl property is expanded automatically.",
        "x-ms-examples": {
          "InvoicesGet": {
            "$ref": "./examples/InvoicesGet.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "name": "invoiceName",
            "description": "The name of an invoice resource.",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/Invoice"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Billing/invoices/latest": {
      "get": {
        "tags": [
          "Invoices"
        ],
        "operationId": "Invoices_GetLatest",
        "description": "Gets the most recent invoice. When getting a single invoice, the downloadUrl property is expanded automatically.",
        "x-ms-examples": {
          "InvoicesGetLatest": {
            "$ref": "./examples/InvoicesGetLatest.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/Invoice"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/{scope}/providers/Microsoft.Billing/eligibleOffers": {
      "get": {
        "tags": [
          "Offers"
        ],
        "description": "Retrieves the list of eligle offers.",
        "operationId": "EligleOffers_List",
        "x-ms-examples": {
          "ListEligibleOffers": {
            "$ref": "./examples/EligibleOffersList.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/scopeParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok - returns an array of eligle offers.",
            "schema": {
              "$ref": "#/definitions/OfferListResult"
            }
          }
        },
        "deprecated": false
      }
    },
    "/{scope}/providers/Microsoft.Billing/eligibleOffers/{offerName}": {
      "get": {
        "tags": [
          "Offers"
        ],
        "description": "Retrieves an offer within the list of eligle offers.",
        "operationId": "EligleOffer_Get",
        "x-ms-examples": {
          "getEligibleOffer": {
            "$ref": "./examples/EligibleOfferGet.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/scopeParameter"
          },
          {
            "$ref": "#/parameters/offerNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok - returns an array of eligle offers.",
            "schema": {
              "$ref": "#/definitions/Offer"
            }
          }
        },
        "deprecated": false
      }
    },
    "/{scope}/providers/Microsoft.Billing/billingContexts": {
      "get": {
        "tags": [
          "BillingContext"
        ],
        "description": "Retrieves the list of billing context.",
        "operationId": "BillingContexts_List",
        "x-ms-examples": {
          "listBillingContexts": {
            "$ref": "./examples/BillingContextsList.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/scopeParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok - returns an array of billing contexts.",
            "schema": {
              "$ref": "#/definitions/BillingContextListResult"
            }
          }
        },
        "deprecated": false
      }
    },
    "/{scope}/providers/Microsoft.Billing/billingContext/{billingContextName}": {
      "get": {
        "tags": [
          "BillingContext"
        ],
        "description": "Get an Azure billing context within a management group.",
        "operationId": "BillingContext_Get",
        "x-ms-examples": {
          "getManagementGroupsBillingContext": {
            "$ref": "./examples/BillingContextGet.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/scopeParameter"
          },
          {
            "$ref": "#/parameters/billingContextNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Normal response for a successful query. The response body will contain the data that matches the filters specified in the query parameters.",
            "schema": {
              "$ref": "#/definitions/BillingContext"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "BillingContext"
        ],
        "description": "Create an Azure billing context.",
        "operationId": "BillingContext_Create",
        "x-ms-examples": {
          "createBillingContext": {
            "$ref": "./examples/BillingContextCreate.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/scopeParameter"
          },
          {
            "$ref": "#/parameters/billingContextNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "name": "body",
            "in": "body",
            "description": "billing context creation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BillingContext"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Normal response for a successful query. The response body will contain the data that matches the filters specified in the query parameters.",
            "schema": {
              "$ref": "#/definitions/BillingContext"
            }
          }
        }
      }
    },
     "/providers/Microsoft.Billing/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "operationId": "Operations_List",
        "description": "Lists all of the available billing REST API operations.",
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "BillingPeriod": {
      "description": "A billing period resource.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/BillingPeriodProperties"
        }
      }
    },
    "BillingPeriodsListResult": {
      "description": "Result of listing billing periods. It contains a list of available billing periods in reverse chronological order.",
      "properties": {
        "value": {
          "description": "The list of billing periods.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/BillingPeriod"
          }
        },
        "nextLink": {
          "description": "The link (url) to the next page of results.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "BillingPeriodProperties": {
      "description": "The properties of the billing period.",
      "properties": {
        "billingPeriodStartDate": {
          "description": "The start of the date range covered by the billing period.",
          "type": "string",
          "format": "date",
          "readOnly": true
        },
        "billingPeriodEndDate": {
          "description": "The end of the date range covered by the billing period.",
          "type": "string",
          "format": "date",
          "readOnly": true
        },
        "invoiceIds": {
          "description": "Array of invoice ids that associated with.",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        }
      }
    },
    "DownloadUrl": {
      "description": "A secure URL that can be used to download a PDF invoice until the URL expires.",
      "properties": {
        "expiryTime": {
          "description": "The time in UTC at which this download URL will expire.",
          "type": "string",
          "format": "date-time",
          "readOnly": true
        },
        "url": {
          "description": "The URL to the PDF file.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "ErrorDetails": {
      "description": "The details of the error.",
      "properties": {
        "code": {
          "description": "Error code.",
          "type": "string",
          "readOnly": true
        },
        "message": {
          "description": "Error message indicating why the operation failed.",
          "type": "string",
          "readOnly": true
        },
        "target": {
          "description": "The target of the particular error.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "ErrorResponse": {
      "description": "Error response indicates that the service is not able to process the incoming request. The reason is provided in the error message.",
      "type": "object",
      "properties": {
        "error": {
          "description": "The details of the error.",
          "$ref": "#/definitions/ErrorDetails"
        }
      }
    },
    "Invoice": {
      "description": "An invoice resource can be used download a PDF version of an invoice.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/InvoiceProperties"
        }
      }
    },
    "InvoicesListResult": {
      "description": "Result of listing invoices. It contains a list of available invoices in reverse chronological order.",
      "properties": {
        "value": {
          "description": "The list of invoices.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/Invoice"
          }
        },
        "nextLink": {
          "description": "The link (url) to the next page of results.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "InvoiceProperties": {
      "description": "The properties of the invoice.",
      "properties": {
        "downloadUrl": {
          "description": "A secure link to download the PDF version of an invoice. The link will cease to work after its expiry time is reached.",
          "$ref": "#/definitions/DownloadUrl"
        },
        "invoicePeriodStartDate": {
          "description": "The start of the date range covered by the invoice.",
          "type": "string",
          "format": "date",
          "readOnly": true
        },
        "invoicePeriodEndDate": {
          "description": "The end of the date range covered by the invoice.",
          "type": "string",
          "format": "date",
          "readOnly": true
        },
        "billingPeriodIds": {
          "description": "Array of billing perdiod ids that the invoice is attributed to.",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Offer": {
      "description": "An offer used to create a subscription",
      "properties": {
        "id": {
          "description": "The resource ID.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "The name of the resource.",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "description": "The type of the resource.",
          "type": "string",
          "readOnly": true
        },
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/OfferProperties",
          "description": "properties of the offer definition"
        }
      }
    },
    "OfferProperties": {
      "description": "properties of the offer definition",
      "properties": {
        "offerId": {
          "readOnly": true,
          "type": "string",
          "description": "the offer id used to create a subscription"
        }        
      }
    },
    "OfferListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Offer"
          },
          "description": "An array of offers"
        }
      },
      "description": "Offer List operation response"
    },    
    "BillingContext": {
      "description": "A billing context used to create a subscription",
      "properties": {
        "id": {
          "description": "The billing context ID.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "The name of the billing context.",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "description": "The type of the billing context.",
          "type": "string",
          "readOnly": true
        },
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/BillingContextProperties",
          "description": "properties of the billing context"
        }
      }
    },
    "BillingContextProperties": {
      "description": "properties of the billing context",
      "properties": {
        "offerId": {
          "readOnly": true,
          "type": "string",
          "description": "the offer id used to create a subscription"
        }        
      }
    },
    "BillingContextListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/BillingContext"
          },
          "description": "An array of billing contexts"
        }
      },
      "description": "Billing context list operation response"
    },    
    "Operation": {
      "description": "A Billing REST API operation.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Operation name: {provider}/{resource}/{operation}.",
          "type": "string",
          "readOnly": true
        },
        "display": {
          "description": "The object that represents the operation.",
          "properties": {
            "provider": {
              "description": "Service provider: Microsoft.Billing.",
              "type": "string",
              "readOnly": true
            },
            "resource": {
              "description": "Resource on which the operation is performed: Invoice, etc.",
              "type": "string",
              "readOnly": true
            },
            "operation": {
              "description": "Operation type: Read, write, delete, etc.",
              "type": "string",
              "readOnly": true
            }
          }
        }
      }
    },
    "OperationListResult": {
      "description": "Result listing billing operations. It contains a list of operations and a URL link to get the next set of results.",
      "properties": {
        "value": {
          "description": "List of billing operations supported by the Microsoft.Billing resource provider.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/Operation"
          }
        },
        "nextLink": {
          "description": "URL to get the next set of operation list results if there are any.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "Resource": {
      "description": "The Resource model definition.",
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Resource Id."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Resource name."
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Resource type."
        }
      },
      "x-ms-azure-resource": true
    }
  },
  "parameters": {
    "apiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Version of the API to be used with the client request. The current version is 2017-04-24-preview."
    },
    "subscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "description": "Azure Subscription ID.",
      "required": true,
      "type": "string"
    },
    "scopeParameter": {
      "name": "scope",
      "in": "path",      
      "description": "The scope of the Microsoft.Billing url. The scope can only be 'providers/Microsoft.Management/managementGroups/{groupName}' where groupname is the name of the management group",
      "required": true,
      "type": "string"
    },
    "billingContextNameParameter": {
       "name": "billingContextName",
       "in": "path",
       "description": "The name of the Azure billing context.",
       "required": true,
       "type": "string"
     },
     "offerNameParameter": {
       "name": "offerName",
       "in": "path",
       "description": "the offer name",
       "required": true,
       "type": "string"
     }    
  }
}
