{
  "swagger": "2.0",
  "info": {
    "version": "2021-08-01",
    "title": "Microsoft DataMover",
    "description": "The Azure Data Mover REST API."
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/providers/Microsoft.Storage/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "summary": "Lists all the supported operations for the Azure Data Mover REST API.",
        "operationId": "Operations_List",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "List of supported operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Operations_List": {
            "$ref": "./examples/Operations_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Storage/dataMovers": {
      "get": {
        "tags": [
          "DataMovers"
        ],
        "operationId": "DataMovers_ListBySubscription",
        "description": "Lists all data movers in a resource group.",
        "x-ms-examples": {
          "DataMovers_List": {
            "$ref": "./examples/DataMovers_ListBySubscription.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The list of data movers.",
            "schema": {
              "$ref": "#/definitions/DataMoverList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/dataMovers": {
      "get": {
        "tags": [
          "DataMovers"
        ],
        "operationId": "DataMovers_List",
        "description": "Lists all data movers in a resource group.",
        "x-ms-examples": {
          "DataMovers_List": {
            "$ref": "./examples/DataMovers_List.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The list of data movers.",
            "schema": {
              "$ref": "#/definitions/DataMoverList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/dataMovers/{dataMoverName}": {
      "get": {
        "tags": [
          "DataMovers"
        ],
        "operationId": "DataMovers_Get",
        "description": "Gets a data mover resource.",
        "x-ms-examples": {
          "DataMovers_Get": {
            "$ref": "./examples/DataMovers_Get.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/DataMoverNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The data mover resource.",
            "schema": {
              "$ref": "#/definitions/DataMover"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "DataMovers"
        ],
        "operationId": "DataMovers_CreateOrUpdate",
        "description": "Creates or updates a top-level data mover resource.",
        "x-ms-examples": {
          "DataMovers_CreateOrUpdate": {
            "$ref": "./examples/DataMovers_CreateOrUpdate.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/DataMoverNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "dataMover",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DataMover"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updated Data Mover resource.",
            "schema": {
              "$ref": "#/definitions/DataMover"
            }
          },
          "201": {
            "description": "Created Data Mover resource.",
            "schema": {
              "$ref": "#/definitions/DataMover"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "DataMovers"
        ],
        "operationId": "DataMovers_Update",
        "description": "Updates properties for a data mover resource. Properties not specified in the request body will be unchanged.",
        "x-ms-examples": {
          "DataMovers_Update": {
            "$ref": "./examples/DataMovers_Update.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/DataMoverNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "dataMover",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DataMoverUpdateParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The data mover resource.",
            "schema": {
              "$ref": "#/definitions/DataMover"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "DataMovers"
        ],
        "operationId": "DataMovers_Delete",
        "description": "Deletes a data mover resource.",
        "x-ms-examples": {
          "DataMovers_Delete": {
            "$ref": "./examples/DataMovers_Delete.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/DataMoverNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Delete successful."
          },
          "204": {
            "description": "Request successful. Resource with the specified name does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/dataMovers/{dataMoverName}/agents": {
      "get": {
        "tags": [
          "Agents"
        ],
        "operationId": "Agents_List",
        "description": "Lists all agents in a data mover.",
        "x-ms-examples": {
          "Agents_List": {
            "$ref": "./examples/Agents_List.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/DataMoverNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The list of agents.",
            "schema": {
              "$ref": "#/definitions/AgentList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/dataMovers/{dataMoverName}/agents/{agentName}": {
      "get": {
        "tags": [
          "Agents"
        ],
        "operationId": "Agents_Get",
        "description": "Gets an agent resource.",
        "x-ms-examples": {
          "Agents_Get": {
            "$ref": "./examples/Agents_Get.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/DataMoverNameParameter"
          },
          {
            "$ref": "#/parameters/AgentNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The agent resource.",
            "schema": {
              "$ref": "#/definitions/Agent"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Agents"
        ],
        "operationId": "Agents_CreateOrUpdate",
        "description": "Creates or updates an agent resource, which references a hybrid compute machine that can run migration jobs.",
        "x-ms-examples": {
          "Agents_CreateOrUpdate": {
            "$ref": "./examples/Agents_CreateOrUpdate.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/DataMoverNameParameter"
          },
          {
            "$ref": "#/parameters/AgentNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "agent",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Agent"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updated Agent resource.",
            "schema": {
              "$ref": "#/definitions/Agent"
            }
          },
          "201": {
            "description": "Created Agent resource.",
            "schema": {
              "$ref": "#/definitions/Agent"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Agents"
        ],
        "operationId": "Agents_Update",
        "description": "Creates or updates an agent resource.",
        "x-ms-examples": {
          "Agents_Update": {
            "$ref": "./examples/Agents_Update.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/DataMoverNameParameter"
          },
          {
            "$ref": "#/parameters/AgentNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "agent",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AgentUpdateParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The agent resource.",
            "schema": {
              "$ref": "#/definitions/Agent"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Agents"
        ],
        "operationId": "Agents_Delete",
        "description": "Deletes an agent resource.",
        "x-ms-examples": {
          "Agents_Delete": {
            "$ref": "./examples/Agents_Delete.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/DataMoverNameParameter"
          },
          {
            "$ref": "#/parameters/AgentNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Delete successful."
          },
          "204": {
            "description": "Request successful. Resource with the specified name does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/dataMovers/{dataMoverName}/endpoints": {
      "get": {
        "tags": [
          "Endpoints"
        ],
        "operationId": "Endpoints_List",
        "description": "Lists all endpoints in a data mover.",
        "x-ms-examples": {
          "Endpoints_List": {
            "$ref": "./examples/Endpoints_List.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/DataMoverNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The list of endpoints.",
            "schema": {
              "$ref": "#/definitions/EndpointList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/dataMovers/{dataMoverName}/endpoints/{endpointName}": {
      "get": {
        "tags": [
          "Endpoints"
        ],
        "operationId": "Endpoints_Get",
        "description": "Gets an endpoint resource.",
        "x-ms-examples": {
          "Endpoints_Get": {
            "$ref": "./examples/Endpoints_Get.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/DataMoverNameParameter"
          },
          {
            "$ref": "#/parameters/EndpointNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The endpoint resource.",
            "schema": {
              "$ref": "#/definitions/Endpoint"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Endpoints"
        ],
        "operationId": "Endpoints_CreateOrUpdate",
        "description": "Creates or updates an endpoint resource, which represents a data source or destination for migration.",
        "x-ms-examples": {
          "Endpoints_CreateOrUpdate": {
            "$ref": "./examples/Endpoints_CreateOrUpdate.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/DataMoverNameParameter"
          },
          {
            "$ref": "#/parameters/EndpointNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "endpoint",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Endpoint"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updated Endpoint resource.",
            "schema": {
              "$ref": "#/definitions/Endpoint"
            }
          },
          "201": {
            "description": "Created Endpoint resource.",
            "schema": {
              "$ref": "#/definitions/Endpoint"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Endpoints"
        ],
        "operationId": "Endpoints_Update",
        "description": "Updates properties for an endpoint resource. Properties not specified in the request body will be unchanged.",
        "x-ms-examples": {
          "Endpoints_Update": {
            "$ref": "./examples/Endpoints_Update.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/DataMoverNameParameter"
          },
          {
            "$ref": "#/parameters/EndpointNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "endpoint",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EndpointBaseUpdateParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The endpoint resource.",
            "schema": {
              "$ref": "#/definitions/Endpoint"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Endpoints"
        ],
        "operationId": "Endpoints_Delete",
        "description": "Deletes an endpoint resource.",
        "x-ms-examples": {
          "Endpoints_Delete": {
            "$ref": "./examples/Endpoints_Delete.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/DataMoverNameParameter"
          },
          {
            "$ref": "#/parameters/EndpointNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Delete successful."
          },
          "204": {
            "description": "Request successful. Resource with the specified name does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/dataMovers/{dataMoverName}/projects": {
      "get": {
        "tags": [
          "Projects"
        ],
        "operationId": "Projects_List",
        "description": "Lists all projects in a data mover.",
        "x-ms-examples": {
          "Projects_List": {
            "$ref": "./examples/Projects_List.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/DataMoverNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The list of projects.",
            "schema": {
              "$ref": "#/definitions/ProjectList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/dataMovers/{dataMoverName}/projects/{projectName}": {
      "get": {
        "tags": [
          "Projects"
        ],
        "operationId": "Projects_Get",
        "description": "Gets a project resource.",
        "x-ms-examples": {
          "Projects_Get": {
            "$ref": "./examples/Projects_Get.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/DataMoverNameParameter"
          },
          {
            "$ref": "#/parameters/ProjectNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The project resource.",
            "schema": {
              "$ref": "#/definitions/Project"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Projects"
        ],
        "operationId": "Projects_CreateOrUpdate",
        "description": "Creates or updates a project resource, which is a logical grouping of related jobs.",
        "x-ms-examples": {
          "Projects_CreateOrUpdate": {
            "$ref": "./examples/Projects_CreateOrUpdate.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/DataMoverNameParameter"
          },
          {
            "$ref": "#/parameters/ProjectNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "project",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Project"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updated Project resource.",
            "schema": {
              "$ref": "#/definitions/Project"
            }
          },
          "201": {
            "description": "Created Project resource.",
            "schema": {
              "$ref": "#/definitions/Project"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Projects"
        ],
        "operationId": "Projects_Update",
        "description": "Updates properties for a project resource. Properties not specified in the request body will be unchanged.",
        "x-ms-examples": {
          "Projects_Update": {
            "$ref": "./examples/Projects_Update.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/DataMoverNameParameter"
          },
          {
            "$ref": "#/parameters/ProjectNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "project",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Project"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The endpoint resource.",
            "schema": {
              "$ref": "#/definitions/Project"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Projects"
        ],
        "operationId": "Projects_Delete",
        "description": "Deletes a project resource.",
        "x-ms-examples": {
          "Projects_Delete": {
            "$ref": "./examples/Projects_Delete.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/DataMoverNameParameter"
          },
          {
            "$ref": "#/parameters/ProjectNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Delete successful."
          },
          "204": {
            "description": "Request successful. Resource with the specified name does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/dataMovers/{dataMoverName}/projects/{projectName}/jobDefinitions": {
      "get": {
        "tags": [
          "JobDefinitions"
        ],
        "operationId": "JobDefinitions_List",
        "description": "Lists all job definitions in a project.",
        "x-ms-examples": {
          "JobDefinitions_List": {
            "$ref": "./examples/JobDefinitions_List.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/DataMoverNameParameter"
          },
          {
            "$ref": "#/parameters/ProjectNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The list of job definitions.",
            "schema": {
              "$ref": "#/definitions/JobDefinitionList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/dataMovers/{dataMoverName}/projects/{projectName}/jobDefinitions/{jobDefinitionName}": {
      "get": {
        "tags": [
          "JobDefinitions"
        ],
        "operationId": "JobDefinitions_Get",
        "description": "Gets a job definition resource.",
        "x-ms-examples": {
          "JobDefinitions_Get": {
            "$ref": "./examples/JobDefinitions_Get.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/DataMoverNameParameter"
          },
          {
            "$ref": "#/parameters/ProjectNameParameter"
          },
          {
            "$ref": "#/parameters/JobDefinitionNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The job definition resource.",
            "schema": {
              "$ref": "#/definitions/JobDefinition"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "JobDefinitions"
        ],
        "operationId": "JobDefinitions_CreateOrUpdate",
        "description": "Creates or updates a job definition resource, which contains configuration for a single unit of data migration.",
        "x-ms-examples": {
          "JobDefinitions_CreateOrUpdate": {
            "$ref": "./examples/JobDefinitions_CreateOrUpdate.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/DataMoverNameParameter"
          },
          {
            "$ref": "#/parameters/ProjectNameParameter"
          },
          {
            "$ref": "#/parameters/JobDefinitionNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "jobDefinition",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/JobDefinition"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updated Job Definition resource.",
            "schema": {
              "$ref": "#/definitions/JobDefinition"
            }
          },
          "201": {
            "description": "Created Job Definition resource.",
            "schema": {
              "$ref": "#/definitions/JobDefinition"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "JobDefinitions"
        ],
        "operationId": "JobDefinitions_Update",
        "description": "Updates properties for a job definition resource. Properties not specified in the request body will be unchanged.",
        "x-ms-examples": {
          "JobDefinitions_Update": {
            "$ref": "./examples/JobDefinitions_Update.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/DataMoverNameParameter"
          },
          {
            "$ref": "#/parameters/ProjectNameParameter"
          },
          {
            "$ref": "#/parameters/JobDefinitionNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "jobDefinition",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/JobDefinitionUpdateParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The job definition resource.",
            "schema": {
              "$ref": "#/definitions/JobDefinition"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "JobDefinitions"
        ],
        "operationId": "JobDefinitions_Delete",
        "description": "Deletes a job definition resource.",
        "x-ms-examples": {
          "Projects_Delete": {
            "$ref": "./examples/JobDefinitions_Delete.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/DataMoverNameParameter"
          },
          {
            "$ref": "#/parameters/ProjectNameParameter"
          },
          {
            "$ref": "#/parameters/JobDefinitionNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Delete successful."
          },
          "204": {
            "description": "Request successful. Resource with the specified name does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/dataMovers/{dataMoverName}/projects/{projectName}/jobDefinitions/{jobDefinitionName}/startJob": {
      "post": {
        "tags": [
          "JobDefinitions"
        ],
        "operationId": "JobDefinitions_StartJob",
        "description": "Requests an agent to start a new instance of this job definition, generating a new job run resource.",
        "x-ms-examples": {
          "JobDefinitions_StartJob": {
            "$ref": "./examples/JobDefinitions_StartJob.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/DataMoverNameParameter"
          },
          {
            "$ref": "#/parameters/ProjectNameParameter"
          },
          {
            "$ref": "#/parameters/JobDefinitionNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "agentId",
            "in": "body",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The fully qualified resource ID of the agent that should perform this job."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The newly generated job run resource.",
            "schema": {
              "$ref": "#/definitions/JobRun"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/dataMovers/{dataMoverName}/projects/{projectName}/jobDefinitions/{jobDefinitionName}/stopJob": {
      "post": {
        "tags": [
          "JobDefinitions"
        ],
        "operationId": "JobDefinitions_StopJob",
        "description": "Requests the agent of any active instance of this job definition to stop.",
        "x-ms-examples": {
          "JobDefinitions_StopJob": {
            "$ref": "./examples/JobDefinitions_StopJob.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/DataMoverNameParameter"
          },
          {
            "$ref": "#/parameters/ProjectNameParameter"
          },
          {
            "$ref": "#/parameters/JobDefinitionNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The active job run that was requested to be stopped.",
            "schema": {
              "$ref": "#/definitions/JobRun"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/dataMovers/{dataMoverName}/projects/{projectName}/jobDefinitions/{jobDefinitionName}/jobRuns": {
      "get": {
        "tags": [
          "JobRuns"
        ],
        "operationId": "JobRuns_List",
        "description": "Lists all job runs in a job definition.",
        "x-ms-examples": {
          "JobRuns_List": {
            "$ref": "./examples/JobRuns_List.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/DataMoverNameParameter"
          },
          {
            "$ref": "#/parameters/ProjectNameParameter"
          },
          {
            "$ref": "#/parameters/JobDefinitionNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The list of job runs.",
            "schema": {
              "$ref": "#/definitions/JobRunList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/dataMovers/{dataMoverName}/projects/{projectName}/jobDefinitions/{jobDefinitionName}/jobRuns/{jobRunName}": {
      "get": {
        "tags": [
          "JobRuns"
        ],
        "operationId": "JobRuns_Get",
        "description": "Gets a job run resource.",
        "x-ms-examples": {
          "JobRuns_Get": {
            "$ref": "./examples/JobRuns_Get.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/DataMoverNameParameter"
          },
          {
            "$ref": "#/parameters/ProjectNameParameter"
          },
          {
            "$ref": "#/parameters/JobDefinitionNameParameter"
          },
          {
            "$ref": "#/parameters/JobRunNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The job definition resource.",
            "schema": {
              "$ref": "#/definitions/JobRun"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "AgentProperties": {
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "description": "A description for the agent."
        },
        "agentVersion": {
          "type": "string",
          "description": "The agent version.",
          "readOnly": true
        },
        "arcResourceId": {
          "type": "string",
          "description": "The fully qualified resource ID of the hybrid compute resource for the agent.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "guid": {
          "type": "string",
          "description": "A GUID for this agent.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "agentStatus": {
          "description": "The agent status.",
          "enum": [
            "Offline",
            "Online",
            "Provisioning",
            "RequiresAttention"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "AgentStatus",
            "modelAsString": true
          },
          "readOnly": true
        },
        "latestJobRun": {
          "type": "string",
          "description": "The fully qualified resource ID of the latest job run resource.",
          "readOnly": true
        }
      },
      "required": [
        "arcResourceId",
        "guid"
      ]
    },
    "Agent": {
      "description": "The agent resource.",
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/AgentProperties"
        },
        "systemData": {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData",
          "description": "Resource system metadata."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "AgentUpdateProperties": {
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "description": "A description for the agent."
        }
      }
    },
    "AgentUpdateParameters": {
      "description": "The agent resource.",
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/AgentUpdateProperties"
        }
      }
    },
    "AgentList": {
      "description": "List of agents.",
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Agent"
          },
          "readOnly": true
        },
        "nextLink": {
          "type": "string",
          "description": "Request URL that can be used to query next page of containers. Returned when total number of requested containers exceed maximum page size.",
          "readOnly": true
        }
      }
    },
    "DataMoverProperties": {
      "description": "The resource specific properties for the data mover resource.",
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "description": "A description for the data mover."
        },
        "agentStorageAccountId": {
          "type": "string",
          "description": "The fully qualified resource ID of the storage account for on-premises agents.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "required": [
        "agentStorageAccountId"
      ]
    },
    "DataMover": {
      "description": "The data mover resource, which is a container for a group of data mover agents and projects.",
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/DataMoverProperties"
        },
        "systemData": {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData",
          "description": "Resource system metadata."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "DataMoverUpdateProperties": {
      "description": "The resource specific properties for the data mover resource.",
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "description": "A description for the data mover."
        }
      }
    },
    "DataMoverUpdateParameters": {
      "description": "The data mover resource.",
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/DataMoverUpdateProperties"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags."
        }
      }
    },
    "DataMoverList": {
      "description": "List of data movers.",
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DataMover"
          },
          "readOnly": true
        },
        "nextLink": {
          "type": "string",
          "description": "Request URL that can be used to query next page of containers. Returned when total number of requested containers exceed maximum page size.",
          "readOnly": true
        }
      }
    },
    "EndpointBaseProperties": {
      "description": "The resource specific properties for the data mover resource.",
      "type": "object",
      "discriminator": "endpointType",
      "properties": {
        "endpointType": {
          "description": "The endpoint resource type.",
          "enum": [
            "AzureStorageBlobContainer",
            "NfsMount"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "EndpointType",
            "modelAsString": true
          },
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "description": {
          "type": "string",
          "description": "A description for the endpoint."
        }
      },
      "required": [
        "endpointType"
      ]
    },
    "Endpoint": {
      "description": "The endpoint resource, which contains information about file sources and targets.",
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/EndpointBaseProperties"
        },
        "systemData": {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData",
          "description": "Resource system metadata."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "EndpointBaseUpdateProperties": {
      "description": "The endpoint resource, which contains information about file sources and targets.",
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "description": "A description for the endpoint."
        }
      }
    },
    "EndpointBaseUpdateParameters": {
      "description": "The endpoint resource.",
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/EndpointBaseUpdateProperties"
        }
      }
    },
    "EndpointList": {
      "description": "List of endpoints.",
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Endpoint"
          },
          "readOnly": true
        },
        "nextLink": {
          "type": "string",
          "description": "Request URL that can be used to query next page of containers. Returned when total number of requested containers exceed maximum page size.",
          "readOnly": true
        }
      }
    },
    "AzureStorageBlobContainerEndpointProperties": {
      "type": "object",
      "x-ms-discriminator-value": "AzureStorageBlobContainer",
      "properties": {
        "storageAccountResourceId": {
          "description": "The Azure Resource ID of the storage account that is the target destination.",
          "type": "string"
        },
        "blobContainerName": {
          "description": "The name of the Storage blob container that is the target destination.",
          "type": "string"
        }
      },
      "required": [
        "storageAccountResourceId",
        "blobContainerName"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/EndpointBaseProperties"
        }
      ]
    },
    "AzureStorageBlobContainerEndpointUpdateProperties": {
      "type": "object",
      "properties": {
        "resourceId": {
          "description": "The Azure Resource ID of the storage account that is the target destination.",
          "type": "string"
        },
        "blobContainerName": {
          "description": "The name of the Storage blob container that is the target destination.",
          "type": "string"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/EndpointBaseUpdateProperties"
        }
      ]
    },
    "NfsMountEndpointProperties": {
      "type": "object",
      "x-ms-discriminator-value": "NfsMount",
      "properties": {
        "host": {
          "description": "The host name or IP address of the server exporting the file system.",
          "type": "string"
        },
        "nfsVersion": {
          "description": "The NFS protocol version.",
          "enum": [
            "NFSv3",
            "NFSv4"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "NfsVersion",
            "modelAsString": true
          }
        },
        "remoteExport": {
          "description": "The directory being exported from the server.",
          "type": "string"
        }
      },
      "required": [
        "host",
        "nfsVersion",
        "remoteExport"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/EndpointBaseProperties"
        }
      ]
    },
    "NfsMountEndpointUpdateProperties": {
      "type": "object",
      "x-ms-discriminator-value": "NfsMount",
      "properties": {
        "host": {
          "description": "The host name or IP address of the server exporting the file system.",
          "type": "string"
        },
        "nfsVersion": {
          "description": "The NFS protocol version.",
          "enum": [
            "NFSv3",
            "NFSv4"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "NfsVersion",
            "modelAsString": true
          }
        },
        "remoteExport": {
          "description": "The directory being exported from the server.",
          "type": "string"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/EndpointBaseUpdateProperties"
        }
      ]
    },
    "JobDefinitionProperties": {
      "description": "Job definition properties.",
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "description": "A description for the job definition."
        },
        "source": {
          "type": "string",
          "description": "The resource ID of the source endpoint.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "sourceSubpath": {
          "type": "string",
          "description": "The subpath to use when reading from the source.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "target": {
          "type": "string",
          "description": "The target to use when writing to the target.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "latestJobRun": {
          "type": "string",
          "description": "The fully qualified resource ID of the latest job run resource.",
          "readOnly": true
        }
      },
      "required": [
        "source",
        "target"
      ]
    },
    "JobDefinition": {
      "description": "The job definition resource.",
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/JobDefinitionProperties"
        },
        "systemData": {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData",
          "description": "Resource system metadata."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "JobDefinitionUpdateProperties": {
      "description": "Job definition properties.",
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "description": "A description for the job definition."
        }
      }
    },
    "JobDefinitionUpdateParameters": {
      "description": "The job definition resource.",
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/JobDefinitionUpdateProperties"
        }
      }
    },
    "JobDefinitionList": {
      "description": "List of job definitions.",
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/JobDefinition"
          },
          "readOnly": true
        },
        "nextLink": {
          "type": "string",
          "description": "Request URL that can be used to query next page of containers. Returned when total number of requested containers exceed maximum page size.",
          "readOnly": true
        }
      }
    },
    "JobRunError": {
      "type": "object",
      "description": "Error type",
      "properties": {
        "code": {
          "type": "string",
          "description": "Error code of the given entry."
        },
        "message": {
          "type": "string",
          "description": "Error message of the given entry."
        },
        "target": {
          "type": "string",
          "description": "Target of the given error entry."
        },
        "innerError": {
          "$ref": "#/definitions/JobRunError",
          "description": "Inner error details of the given entry."
        }
      }
    },
    "JobRunProperties": {
      "description": "Job run properties.",
      "type": "object",
      "properties": {
        "startTime": {
          "readOnly": true,
          "type": "string",
          "format": "date-time",
          "description": "Start time of the run. Null if no agent reported that the job has started."
        },
        "endTime": {
          "readOnly": true,
          "type": "string",
          "format": "date-time",
          "description": "End time of the run. Null if job has not ended."
        },
        "lastUpdatedTime": {
          "type": "string",
          "format": "date-time",
          "description": "Last update time.",
          "readOnly": true
        },
        "percentProgress": {
          "type": "integer",
          "format": "int32",
          "minimum": 0,
          "maximum": 100,
          "description": "Progress percentage.",
          "readOnly": true
        },
        "error": {
          "readOnly": true,
          "$ref": "#/definitions/JobRunError",
          "description": "Error details."
        }
      }
    },
    "JobRun": {
      "description": "The job run resource.",
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/JobRunProperties"
        },
        "systemData": {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData",
          "description": "Resource system metadata."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "JobRunList": {
      "description": "List of job runs.",
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/JobRun"
          },
          "readOnly": true
        },
        "nextLink": {
          "type": "string",
          "description": "Request URL that can be used to query next page of containers. Returned when total number of requested containers exceed maximum page size.",
          "readOnly": true
        }
      }
    },
    "ProjectProperties": {
      "description": "Project properties.",
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "description": "A description for the project."
        }
      }
    },
    "Project": {
      "description": "The project resource.",
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ProjectProperties"
        },
        "systemData": {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData",
          "description": "Resource system metadata."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "ProjectList": {
      "description": "List of project resources.",
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Project"
          },
          "readOnly": true
        },
        "nextLink": {
          "type": "string",
          "description": "Request URL that can be used to query next page of containers. Returned when total number of requested containers exceed maximum page size.",
          "readOnly": true
        }
      }
    }
  },
  "parameters": {
    "AgentNameParameter": {
      "name": "agentName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the agent resource.",
      "x-ms-parameter-location": "method"
    },
    "DataMoverNameParameter": {
      "name": "dataMoverName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the data mover resource.",
      "x-ms-parameter-location": "method"
    },
    "EndpointNameParameter": {
      "name": "endpointName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the endpoint resource.",
      "x-ms-parameter-location": "method"
    },
    "JobDefinitionNameParameter": {
      "name": "jobDefinitionName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the job definition resource.",
      "x-ms-parameter-location": "method"
    },
    "JobRunNameParameter": {
      "name": "jobRunName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the job run.",
      "x-ms-parameter-location": "method"
    },
    "ProjectNameParameter": {
      "name": "projectName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the project resource.",
      "x-ms-parameter-location": "method"
    }
  }
}
