{  
   "swagger":"2.0",
   "info":{  
      "title":"NetworkManagementClient",
      "description":"The Microsoft Azure Network management API provides a RESTful set of web services that interact with Microsoft Azure Networks service to manage your network resources. The API has entities that capture the relationship between an end user and the Microsoft Azure Networks service.",
      "version":"2017-12-01"
   },
   "host":"management.azure.com",
   "schemes":[  
      "https"
   ],
   "consumes":[  
      "application/json"
   ],
   "produces":[  
      "application/json"
   ],
   "security":[  
      {  
         "azure_auth":[  
            "user_impersonation"
         ]
      }
   ],
   "securityDefinitions":{  
      "azure_auth":{  
         "type":"oauth2",
         "authorizationUrl":"https://login.microsoftonline.com/common/oauth2/authorize",
         "flow":"implicit",
         "description":"Azure Active Directory OAuth2 Flow",
         "scopes":{  
            "user_impersonation":"impersonate your user account"
         }
      }
   },
   "paths":{  
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/secureGateways/{secureGatewayName}":{  
         "delete":{  
            "tags":[  
               "SecureGateways"
            ],
            "operationId":"SecureGateways_Delete",
            "description":"Deletes the specified secure gateway.",
            "parameters":[  
               {  
                  "name":"resourceGroupName",
                  "in":"path",
                  "required":true,
                  "type":"string",
                  "description":"The name of the resource group."
               },
               {  
                  "name":"secureGatewayName",
                  "in":"path",
                  "required":true,
                  "type":"string",
                  "description":"The name of the secure gateway."
               },
               {  
                  "$ref":"#/parameters/ApiVersionParameter"
               },
               {  
                  "$ref":"#/parameters/SubscriptionIdParameter"
               }
            ],
            "responses":{  
               "202":{  
                  "description":"Accepted and the operation will complete asynchronously."
               },
               "204":{  
                  "description":"Request successful. Resource with the specified name does not exist"
               },
               "200":{  
                  "description":"Delete successful."
               }
            },
            "x-ms-long-running-operation":true
         },
         "get":{  
            "tags":[  
               "SecureGateways"
            ],
            "operationId":"SecureGateways_Get",
            "description":"Gets the specified secure gateway.",
            "parameters":[  
               {  
                  "name":"resourceGroupName",
                  "in":"path",
                  "required":true,
                  "type":"string",
                  "description":"The name of the resource group."
               },
               {  
                  "name":"secureGatewayName",
                  "in":"path",
                  "required":true,
                  "type":"string",
                  "description":"The name of the secure gateway."
               },
               {  
                  "$ref":"#/parameters/ApiVersionParameter"
               },
               {  
                  "$ref":"#/parameters/SubscriptionIdParameter"
               }
            ],
            "responses":{  
               "200":{  
                  "description":"Request successful. The operation returns a SecureGateway resource.",
                  "schema":{  
                     "$ref":"#/definitions/SecureGateway"
                  }
               }
            }
         },
         "put":{  
            "tags":[  
               "SecureGateways"
            ],
            "operationId":"SecureGateways_CreateOrUpdate",
            "description":"Creates or updates the specified secure gateway.",
            "parameters":[  
               {  
                  "name":"resourceGroupName",
                  "in":"path",
                  "required":true,
                  "type":"string",
                  "description":"The name of the resource group."
               },
               {  
                  "name":"secureGatewayName",
                  "in":"path",
                  "required":true,
                  "type":"string",
                  "description":"The name of the secure gateway."
               },
               {  
                  "name":"parameters",
                  "in":"body",
                  "required":true,
                  "schema":{  
                     "$ref":"#/definitions/SecureGateway"
                  },
                  "description":"Parameters supplied to the create or update secure gateway operation."
               },
               {  
                  "$ref":"#/parameters/ApiVersionParameter"
               },
               {  
                  "$ref":"#/parameters/SubscriptionIdParameter"
               }
            ],
            "responses":{  
               "201":{  
                  "description":"Create successful. The operation returns the resulting SecureGateway resource.",
                  "schema":{  
                     "$ref":"#/definitions/SecureGateway"
                  }
               },
               "200":{  
                  "description":"Update successful. The operation returns the resulting SecureGateway resource.",
                  "schema":{  
                     "$ref":"#/definitions/SecureGateway"
                  }
               }
            },
            "x-ms-long-running-operation":true
         }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/secureGateways":{  
         "get":{  
            "tags":[  
               "SecureGateways"
            ],
            "operationId":"SecureGateways_List",
            "description":"Lists all secure gateways in a resource group.",
            "parameters":[  
               {  
                  "name":"resourceGroupName",
                  "in":"path",
                  "required":true,
                  "type":"string",
                  "description":"The name of the resource group."
               },
               {  
                  "$ref":"#/parameters/ApiVersionParameter"
               },
               {  
                  "$ref":"#/parameters/SubscriptionIdParameter"
               }
            ],
            "responses":{  
               "200":{  
                  "description":"Success. The operation returns a list of SecureGateway resources.",
                  "schema":{  
                     "$ref":"#/definitions/SecureGatewayListResult"
                  }
               }
            },
            "x-ms-pageable":{  
               "nextLinkName":"nextLink"
            }
         }
      },
      "/subscriptions/{subscriptionId}/providers/Microsoft.Network/secureGateways":{  
         "get":{  
            "tags":[  
               "SecureGateways"
            ],
            "operationId":"SecureGateways_ListAll",
            "description":"Gets all the secure gateways in a subscription.",
            "parameters":[  
               {  
                  "$ref":"#/parameters/ApiVersionParameter"
               },
               {  
                  "$ref":"#/parameters/SubscriptionIdParameter"
               }
            ],
            "responses":{  
               "200":{  
                  "description":"Success. The operation returns a list of SecureGateway resources.",
                  "schema":{  
                     "$ref":"#/definitions/SecureGatewayListResult"
                  }
               }
            },
            "x-ms-pageable":{  
               "nextLinkName":"nextLink"
            }
         }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/secureGateways/{secureGatewayName}/applicationRuleCollections/{applicationRuleCollectionName}":{  
         "delete":{  
            "tags":[  
               "SecureGateways"
            ],
            "operationId":"ApplicationRuleCollections_Delete",
            "description":"Deletes the specified application rule collection.",
            "parameters":[  
               {  
                  "name":"resourceGroupName",
                  "in":"path",
                  "required":true,
                  "type":"string",
                  "description":"The name of the resource group."
               },
               {  
                  "name":"secureGatewayName",
                  "in":"path",
                  "required":true,
                  "type":"string",
                  "description":"The name of the secure gateway."
               },
               {  
                  "name":"applicationRuleCollectionName",
                  "in":"path",
                  "required":true,
                  "type":"string",
                  "description":"The name of the application rule collection."
               },
               {  
                  "$ref":"#/parameters/ApiVersionParameter"
               },
               {  
                  "$ref":"#/parameters/SubscriptionIdParameter"
               }
            ],
            "responses":{  
               "202":{  
                  "description":"Accepted and the operation will complete asynchronously."
               },
               "204":{  
                  "description":"Request successful. Resource with the specified name does not exist"
               },
               "200":{  
                  "description":"Delete successful."
               }
            },
            "x-ms-long-running-operation":true
         },
         "get":{  
            "tags":[  
               "SecureGateways"
            ],
            "operationId":"ApplicationRuleCollections_Get",
            "description":"Gets the specified application rule collection.",
            "parameters":[  
               {  
                  "name":"resourceGroupName",
                  "in":"path",
                  "required":true,
                  "type":"string",
                  "description":"The name of the resource group."
               },
               {  
                  "name":"secureGatewayName",
                  "in":"path",
                  "required":true,
                  "type":"string",
                  "description":"The name of the secure gateway."
               },
               {  
                  "name":"applicationRuleCollectionName",
                  "in":"path",
                  "required":true,
                  "type":"string",
                  "description":"The name of the application rule collection."
               },
               {  
                  "$ref":"#/parameters/ApiVersionParameter"
               },
               {  
                  "$ref":"#/parameters/SubscriptionIdParameter"
               }
            ],
            "responses":{  
               "200":{  
                  "description":"Request successful. The operation returns a ApplicationRuleCollection resource.",
                  "schema":{  
                     "$ref":"#/definitions/ApplicationRuleCollection"
                  }
               }
            }
         },
         "put":{  
            "tags":[  
               "SecureGateways"
            ],
            "operationId":"ApplicationRuleCollections_CreateOrUpdate",
            "description":"Creates or updates the specified application rule collection.",
            "parameters":[  
               {  
                  "name":"resourceGroupName",
                  "in":"path",
                  "required":true,
                  "type":"string",
                  "description":"The name of the resource group."
               },
               {  
                  "name":"secureGatewayName",
                  "in":"path",
                  "required":true,
                  "type":"string",
                  "description":"The name of the secure gateway."
               },
               {  
                  "name":"applicationRuleCollectionName",
                  "in":"path",
                  "required":true,
                  "type":"string",
                  "description":"The name of the application rule collection."
               },
               {  
                  "name":"parameters",
                  "in":"body",
                  "required":true,
                  "schema":{  
                     "$ref":"#/definitions/ApplicationRuleCollection"
                  },
                  "description":"Parameters supplied to the create or update application rule collection operation."
               },
               {  
                  "$ref":"#/parameters/ApiVersionParameter"
               },
               {  
                  "$ref":"#/parameters/SubscriptionIdParameter"
               }
            ],
            "responses":{  
               "201":{  
                  "description":"Create successful. The operation returns the resulting ApplicationRuleCollection resource.",
                  "schema":{  
                     "$ref":"#/definitions/ApplicationRuleCollection"
                  }
               },
               "200":{  
                  "description":"Update successful. The operation returns the resulting ApplicationRuleCollection resource.",
                  "schema":{  
                     "$ref":"#/definitions/ApplicationRuleCollection"
                  }
               }
            },
            "x-ms-long-running-operation":true
         }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/secureGateways/{secureGatewayName}/applicationRuleCollections":{  
         "get":{  
            "tags":[  
               "SecureGateways"
            ],
            "operationId":"ApplicationRuleCollections_List",
            "description":"Lists all application rule collections for a specified secure gateway.",
            "parameters":[  
               {  
                  "name":"resourceGroupName",
                  "in":"path",
                  "required":true,
                  "type":"string",
                  "description":"The name of the resource group."
               },
               {  
                  "name":"secureGatewayName",
                  "in":"path",
                  "required":true,
                  "type":"string",
                  "description":"The name of the secure gateway."
               },
               {  
                  "$ref":"#/parameters/ApiVersionParameter"
               },
               {  
                  "$ref":"#/parameters/SubscriptionIdParameter"
               }
            ],
            "responses":{  
               "200":{  
                  "description":"Success. The operation returns a list of ApplicationRuleCollection resources.",
                  "schema":{  
                     "$ref":"#/definitions/ApplicationRuleCollectionListResult"
                  }
               }
            },
            "x-ms-pageable":{  
               "nextLinkName":"nextLink"
            }
         }
      },
      "/subscriptions/{subscriptionId}/providers/Microsoft.Network/secureGateways/{secureGatewayName}/applicationRuleCollections":{  
         "get":{  
            "tags":[  
               "SecureGateways"
            ],
            "operationId":"ApplicationRuleCollections_ListAll",
            "description":"Gets all the application rule collections in a subscription.",
            "parameters":[  
               {  
                  "name":"secureGatewayName",
                  "in":"path",
                  "required":true,
                  "type":"string",
                  "description":"The name of the secure gateway."
               },
               {  
                  "$ref":"#/parameters/ApiVersionParameter"
               },
               {  
                  "$ref":"#/parameters/SubscriptionIdParameter"
               }
            ],
            "responses":{  
               "200":{  
                  "description":"Success. The operation returns a list of ApplicationRuleCollection resources.",
                  "schema":{  
                     "$ref":"#/definitions/ApplicationRuleCollectionListResult"
                  }
               }
            },
            "x-ms-pageable":{  
               "nextLinkName":"nextLink"
            }
         }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/secureGateways/{secureGatewayName}/networkRuleCollections/{networkRuleCollectionName}":{  
         "delete":{  
            "tags":[  
               "SecureGateways"
            ],
            "operationId":"NetworkRuleCollections_Delete",
            "description":"Deletes the specified network rule collection.",
            "parameters":[  
               {  
                  "name":"resourceGroupName",
                  "in":"path",
                  "required":true,
                  "type":"string",
                  "description":"The name of the resource group."
               },
               {  
                  "name":"secureGatewayName",
                  "in":"path",
                  "required":true,
                  "type":"string",
                  "description":"The name of the secure gateway."
               },
               {  
                  "name":"networkRuleCollectionName",
                  "in":"path",
                  "required":true,
                  "type":"string",
                  "description":"The name of the network rule collection."
               },
               {  
                  "$ref":"#/parameters/ApiVersionParameter"
               },
               {  
                  "$ref":"#/parameters/SubscriptionIdParameter"
               }
            ],
            "responses":{  
               "202":{  
                  "description":"Accepted and the operation will complete asynchronously."
               },
               "204":{  
                  "description":"Request successful. Resource with the specified name does not exist"
               },
               "200":{  
                  "description":"Delete successful."
               }
            },
            "x-ms-long-running-operation":true
         },
         "get":{  
            "tags":[  
               "SecureGateways"
            ],
            "operationId":"NetworkRuleCollections_Get",
            "description":"Gets the specified network rule collection.",
            "parameters":[  
               {  
                  "name":"resourceGroupName",
                  "in":"path",
                  "required":true,
                  "type":"string",
                  "description":"The name of the resource group."
               },
               {  
                  "name":"secureGatewayName",
                  "in":"path",
                  "required":true,
                  "type":"string",
                  "description":"The name of the secure gateway."
               },
               {  
                  "name":"networkRuleCollectionName",
                  "in":"path",
                  "required":true,
                  "type":"string",
                  "description":"The name of the network rule collection."
               },
               {  
                  "$ref":"#/parameters/ApiVersionParameter"
               },
               {  
                  "$ref":"#/parameters/SubscriptionIdParameter"
               }
            ],
            "responses":{  
               "200":{  
                  "description":"Request successful. The operation returns a NetworkRuleCollection resource.",
                  "schema":{  
                     "$ref":"#/definitions/NetworkRuleCollection"
                  }
               }
            }
         },
         "put":{  
            "tags":[  
               "SecureGateways"
            ],
            "operationId":"NetworkRuleCollections_CreateOrUpdate",
            "description":"Creates or updates the specified network rule collection.",
            "parameters":[  
               {  
                  "name":"resourceGroupName",
                  "in":"path",
                  "required":true,
                  "type":"string",
                  "description":"The name of the resource group."
               },
               {  
                  "name":"secureGatewayName",
                  "in":"path",
                  "required":true,
                  "type":"string",
                  "description":"The name of the secure gateway."
               },
               {  
                  "name":"networkRuleCollectionName",
                  "in":"path",
                  "required":true,
                  "type":"string",
                  "description":"The name of the network rule collection."
               },
               {  
                  "name":"parameters",
                  "in":"body",
                  "required":true,
                  "schema":{  
                     "$ref":"#/definitions/NetworkRuleCollection"
                  },
                  "description":"Parameters supplied to the create or update network rule collection operation."
               },
               {  
                  "$ref":"#/parameters/ApiVersionParameter"
               },
               {  
                  "$ref":"#/parameters/SubscriptionIdParameter"
               }
            ],
            "responses":{  
               "201":{  
                  "description":"Create successful. The operation returns the resulting NetworkRuleCollection resource.",
                  "schema":{  
                     "$ref":"#/definitions/NetworkRuleCollection"
                  }
               },
               "200":{  
                  "description":"Update successful. The operation returns the resulting NetworkRuleCollection resource.",
                  "schema":{  
                     "$ref":"#/definitions/NetworkRuleCollection"
                  }
               }
            },
            "x-ms-long-running-operation":true
         }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/secureGateways/{secureGatewayName}/networkRuleCollections":{  
         "get":{  
            "tags":[  
               "SecureGateways"
            ],
            "operationId":"NetworkRuleCollections_List",
            "description":"Lists all network rule collections for a specified secure gateway.",
            "parameters":[  
               {  
                  "name":"resourceGroupName",
                  "in":"path",
                  "required":true,
                  "type":"string",
                  "description":"The name of the resource group."
               },
               {  
                  "name":"secureGatewayName",
                  "in":"path",
                  "required":true,
                  "type":"string",
                  "description":"The name of the secure gateway."
               },
               {  
                  "$ref":"#/parameters/ApiVersionParameter"
               },
               {  
                  "$ref":"#/parameters/SubscriptionIdParameter"
               }
            ],
            "responses":{  
               "200":{  
                  "description":"Success. The operation returns a list of NetworkRuleCollection resources.",
                  "schema":{  
                     "$ref":"#/definitions/NetworkRuleCollectionListResult"
                  }
               }
            },
            "x-ms-pageable":{  
               "nextLinkName":"nextLink"
            }
         }
      },
      "/subscriptions/{subscriptionId}/providers/Microsoft.Network/secureGateways/{secureGatewayName}/networkRuleCollections":{  
         "get":{  
            "tags":[  
               "SecureGateways"
            ],
            "operationId":"NetworkRuleCollections_ListAll",
            "description":"Gets all the network rule collections in a subscription.",
            "parameters":[  
               {  
                  "name":"secureGatewayName",
                  "in":"path",
                  "required":true,
                  "type":"string",
                  "description":"The name of the secure gateway."
               },
               {  
                  "$ref":"#/parameters/ApiVersionParameter"
               },
               {  
                  "$ref":"#/parameters/SubscriptionIdParameter"
               }
            ],
            "responses":{  
               "200":{  
                  "description":"Success. The operation returns a list of NetworkRuleCollection resources.",
                  "schema":{  
                     "$ref":"#/definitions/NetworkRuleCollectionListResult"
                  }
               }
            },
            "x-ms-pageable":{  
               "nextLinkName":"nextLink"
            }
         }
      }
   },
   "definitions":{  
      "SecureGatewaySku":{  
         "properties":{  
            "name":{  
               "type":"string",
               "description":"Name of a secure gateway SKU.",
               "enum":[  
                  "Standard_Small",
                  "Standard_Medium",
                  "Standard_Large"
               ],
               "x-ms-enum":{  
                  "name":"SecureGatewaySkuName",
                  "modelAsString":true
               }
            },
            "tier":{  
               "type":"string",
               "description":"Tier of a secure gateway.",
               "enum":[  
                  "Standard",
                  "Premium"
               ],
               "x-ms-enum":{  
                  "name":"SecureGatewayTier",
                  "modelAsString":true
               }
            },
            "capacity":{  
               "type":"integer",
               "format":"int32",
               "description":"Capacity (instance count) of a secure gateway."
            }
         },
         "description":"SKU of a secure gateway"
      },
      "SecureGatewayPropertiesFormat":{  
         "properties":{  
            "sku":{  
               "$ref":"#/definitions/SecureGatewaySku",
               "description":"SKU of the secure gateway resource."
            },
            "virtualNetwork":{  
               "$ref":"./network.json#/definitions/SubResource",
               "description":"The reference of the VirtualNetwork resource."
            },
            "virtualHub":{  
               "$ref":"./network.json#/definitions/SubResource",
               "description":"The reference of the VirtualHub resource."
            },
            "applicationRuleCollections":{  
               "type":"array",
               "items":{  
                  "$ref":"#/definitions/ApplicationRuleCollection"
               },
               "description":"Collection of application rule collections used by a secure gateway."
            },
            "networkRuleCollections":{  
               "type":"array",
               "items":{  
                  "$ref":"#/definitions/NetworkRuleCollection"
               },
               "description":"Collection of network rule collections used by a secure gateway."
            },
            "provisioningState":{  
               "description":"The provisioning state of the resource.",
               "$ref":"#/definitions/ProvisioningState"
            }
         },
         "description":"Properties of the secure gateway."
      },
      "SecureGateway":{  
         "properties":{  
            "properties":{  
               "x-ms-client-flatten":true,
               "$ref":"#/definitions/SecureGatewayPropertiesFormat"
            },
            "etag":{  
               "type":"string",
               "readOnly":true,
               "description":"Gets a unique read-only string that changes whenever the resource is updated."
            }
         },
         "allOf":[  
            {  
               "$ref":"./network.json#/definitions/Resource"
            }
         ],
         "description":"Secure gateway resource"
      },
      "SecureGatewayListResult":{  
         "properties":{  
            "value":{  
               "type":"array",
               "items":{  
                  "$ref":"#/definitions/SecureGateway"
               },
               "description":"List of a secure gateways in a resource group."
            },
            "nextLink":{  
               "type":"string",
               "description":"URL to get the next set of results."
            }
         },
         "description":"Response for ListSecureGateways API service call."
      },
      "ApplicationRuleCollectionPropertiesFormat":{  
         "properties":{  
            "priority":{  
               "type":"integer",
               "format":"int32",
               "description":"Priority of the application rule collection resource. A number between 1 and 65535."
            },
            "rules":{  
               "type":"array",
               "items":{  
                  "$ref":"#/definitions/ApplicationRule"
               },
               "description":"Collection of rules used by a application rule collection."
            },
            "provisioningState":{  
               "description":"The provisioning state of the resource.",
               "$ref":"#/definitions/ProvisioningState"
            }
         },
         "description":"Properties of the application rule collection."
      },
      "ApplicationRuleCollection":{  
         "properties":{  
            "properties":{  
               "x-ms-client-flatten":true,
               "$ref":"#/definitions/ApplicationRuleCollectionPropertiesFormat"
            },
            "name":{  
               "type":"string",
               "description":"Gets name of the resource that is unique within a resource group. This name can be used to access the resource."
            },
            "etag":{  
               "type":"string",
               "readOnly":true,
               "description":"Gets a unique read-only string that changes whenever the resource is updated."
            }
         },
         "allOf":[  
            {  
               "$ref":"./network.json#/definitions/SubResource"
            }
         ],
         "description":"Application rule collection resource"
      },
      "ApplicationRuleCollectionListResult":{  
         "properties":{  
            "value":{  
               "type":"array",
               "items":{  
                  "$ref":"#/definitions/ApplicationRuleCollection"
               },
               "description":"List of application rule collections."
            },
            "nextLink":{  
               "type":"string",
               "description":"URL to get the next set of results."
            }
         },
         "description":"Response for ListApplicationRuleCollections API service call."
      },
      "ApplicationRuleProtocol":{  
         "properties":{  
            "protocol":{  
               "type":"string",
               "description":"Name of the protocol"
            },
            "port":{  
               "type":"integer",
               "format":"int32",
               "description":"Port number for the protocol. This field is optional."
            }
         },
         "description":"Properties of the application rule protocol."
      },
      "ApplicationRule":{  
         "properties":{  
            "name":{  
               "type":"string",
               "description":"Name of the application rule."
            },
            "description":{  
               "type":"string",
               "description":"Description of the rule."
            },
            "priority":{  
               "type":"integer",
               "format":"int32",
               "description":"Priority of the rule. A number between 1 and 65535."
            },
            "direction":{  
               "description":"Direction of the rule.",
               "$ref":"#/definitions/Direction"
            },
            "protocols":{  
               "type":"array",
               "items":{  
                  "$ref":"#/definitions/ApplicationRuleProtocol"
               },
               "description":"Array of ApplicationRuleProtocols."
            },
            "targetUrls":{  
               "type":"array",
               "description":"List of URLs for this rule.",
               "items":{  
                  "type":"string"
               }
            },
            "actions":{  
               "type":"array",
               "items":{  
                  "$ref":"#/definitions/RuleAction"
               },
               "description":"Array of rule actions."
            }
         },
         "description":"Properties of an application rule."
      },
      "NetworkRuleCollectionPropertiesFormat":{  
         "properties":{  
            "priority":{  
               "type":"integer",
               "format":"int32",
               "description":"Priority of the network rule collection resource. A number between 1 and 65535."
            },
            "rules":{  
               "type":"array",
               "items":{  
                  "$ref":"#/definitions/NetworkRule"
               },
               "description":"Collection of rules used by a network rule collection."
            },
            "provisioningState":{  
               "description":"The provisioning state of the resource.",
               "$ref":"#/definitions/ProvisioningState"
            }
         },
         "description":"Properties of the network rule collection."
      },
      "NetworkRuleCollection":{  
         "properties":{  
            "properties":{  
               "x-ms-client-flatten":true,
               "$ref":"#/definitions/NetworkRuleCollectionPropertiesFormat"
            },
            "name":{  
               "type":"string",
               "description":"Gets name of the resource that is unique within a resource group. This name can be used to access the resource."
            },
            "etag":{  
               "type":"string",
               "readOnly":true,
               "description":"Gets a unique read-only string that changes whenever the resource is updated."
            }
         },
         "allOf":[  
            {  
               "$ref":"./network.json#/definitions/SubResource"
            }
         ],
         "description":"Network rule collection resource"
      },
      "NetworkRuleCollectionListResult":{  
         "properties":{  
            "value":{  
               "type":"array",
               "items":{  
                  "$ref":"#/definitions/NetworkRuleCollection"
               },
               "description":"List of network rule collections."
            },
            "nextLink":{  
               "type":"string",
               "description":"URL to get the next set of results."
            }
         },
         "description":"Response for ListNetworkRuleCollections API service call."
      },
      "NetworkRule":{  
         "properties":{  
            "name":{  
               "type":"string",
               "description":"Name of the network rule."
            },
            "description":{  
               "type":"string",
               "description":"Description of the rule."
            },
            "priority":{  
               "type":"integer",
               "format":"int32",
               "description":"Priority of the rule. A number between 1 and 65535."
            },
            "direction":{  
               "description":"Direction of the rule.",
               "$ref":"#/definitions/Direction"
            },
            "protocols":{  
               "type":"array",
               "items":{  
                  "$ref":"#/definitions/NetworkRuleProtocol"
               },
               "description":"Array of NetworkRuleProtocols."
            },
            "sourceIps":{  
               "type":"array",
               "description":"List of source IPs or IPRange strings.",
               "items":{  
                  "type":"string"
               }
            },
            "sourcePorts":{  
               "type":"array",
               "description":"List of source ports or source port range strings.",
               "items":{  
                  "type":"string"
               }
            },
            "destinationIps":{  
               "type":"array",
               "description":"List of destination IPs or IPRange strings.",
               "items":{  
                  "type":"string"
               }
            },
            "destinationPorts":{  
               "type":"array",
               "description":"List of destination ports or destination port range strings.",
               "items":{  
                  "type":"string"
               }
            },
            "actions":{  
               "type":"array",
               "items":{  
                  "$ref":"#/definitions/RuleAction"
               },
               "description":"Array of rule actions."
            }
         },
         "description":"Properties of the network rule."
      },
      "RuleAction":{  
         "properties":{  
            "actionType":{  
               "description":"The type of action.",
               "$ref":"#/definitions/ActionType"
            }
         },
         "description":"Properties of the RuleAction."
      },
      "ProvisioningState":{  
         "type":"string",
         "readOnly":true,
         "description":"The current provisisoning state.",
         "enum":[  
            "Succeeded",
            "Updating",
            "Deleting",
            "Failed"
         ],
         "x-ms-enum":{  
            "name":"ProvisioningState",
            "modelAsString":true
         }
      },
      "Direction":{  
         "type":"string",
         "description":"The direction of a Application or Network Rule",
         "enum":[  
            "Inbound",
            "Outbound"
         ],
         "x-ms-enum":{  
            "name":"Direction",
            "modelAsString":true
         }
      },
      "ActionType":{  
         "type":"string",
         "description":"The action type of a rule action",
         "enum":[  
            "Allow",
            "Deny"
         ],
         "x-ms-enum":{  
            "name":"ActionType",
            "modelAsString":true
         }
      },
      "NetworkRuleProtocol":{  
         "type":"string",
         "description":"The protocol of a Network Rule resource",
         "enum":[
			"Any",
            "Tcp"
         ],
         "x-ms-enum":{  
            "name":"NetworkRuleProtocol",
            "modelAsString":true
         }
      }
   },
   "parameters":{  
      "SubscriptionIdParameter":{  
         "name":"subscriptionId",
         "in":"path",
         "required":true,
         "type":"string",
         "description":"The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
      },
      "ApiVersionParameter":{  
         "name":"api-version",
         "in":"query",
         "required":true,
         "type":"string",
         "description":"Client API version."
      }
   }
}