{
  "swagger": "2.0",

  "info": {
    "title": "Azure Location Based Services",
    "version": "1.0",
    "description": "Azure Location Based Services REST APIs"
  },

  "host": "atlas.azure-api.net",
  "schemes": [
    "https"
  ],

  "consumes": [
  ],
  "produces": [
    "application/json",
    "application/xml"
  ],

  "securityDefinitions": {
    "apiKeyHeader": {
      "type": "apiKey",
      "name": "Ocp-Apim-Subscription-Key",
      "in": "header"
    },
    "apiKeyQuery": {
      "type": "apiKey",
      "name": "subscription-key",
      "in": "query"
    }
  },

  "security": [
    {
      "apiKeyHeader": []
    },
    {
      "apiKeyQuery": []
    }
  ],

  "parameters": {
    "api-version": {
      "name": "api-version",
      "description": "Version of the API",
      "type": "string",
      "in": "query",
      "required": true,
      "default": "1.0",
      "x-ms-parameter-location": "method"
    },
    "format": {
      "name": "format",
      "description": "Format of the response",
      "type": "string",
      "in": "path",
      "required": true,
      "default": "json",
      "enum": [
        "json",
        "png",
        "pbf"
      ],
      "x-ms-parameter-location": "method"
    },
    "zoom": {
      "name": "zoom",
      "in": "query",
      "description": "Zoom level for tile",
      "required": true,
      "default": "6",
      "type": "string"
    },
    "x": {
      "name": "x",
      "in": "query",
      "description": "X value for tile",
      "required": true,
      "default": "10",
      "type": "string"
    },
    "y": {
      "name": "y",
      "in": "query",
      "description": "Y value for tile",
      "required": true,
      "default": "22",
      "type": "string"
    },
    "query": {
      "name": "query",
      "in": "query",
      "description": "The query applicable string/coordinates",
      "required": true,
      "type": "string"
    }
  },

  "responses": {
    "400": {
      "description": "Bad request: one or more parameters were incorrectly specified or are mutually exclusive.",
      "schema": {
        "$ref": "#/definitions/Error"
      }
    },
    "401": {
      "description": "Unauthorized: Access is denied due to invalid credentials.",
      "schema": {
        "$ref": "#/definitions/Error"
      }
    },
    "403": {
      "description": "Permission, capacity, or authentication issues.",
      "schema": {
        "$ref": "#/definitions/Error"
      }
    },
    "404": {
      "description": "Not Found: the requested resource could not be found, but it may be available again in the future.",
      "schema": {
        "$ref": "#/definitions/Error"
      }
    },
    "500": {
      "description": "An error occurred while processing the request. Please try again later.",
      "schema": {
        "$ref": "#/definitions/Error"
      }
    }
  },

  "paths": {
    "/map/copyright/bounding/{format}": {
      "get": {
        "description": "Returns the copyright information for a given bounding box",
        "operationId": "GetCopyrightBounding",
        "x-ms-examples": {
          "GetCopyrightBounding": { "$ref": "./examples/GetCopyrightBounding.json" }
        },
        "parameters": [
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "$ref": "#/parameters/format"
          },
          {
            "name": "mincoordinates",
            "in": "query",
            "description": "Minimum coordinates of bounding box in latitude longitude coordinate system",
            "required": true,
            "type": "string"
          },
          {
            "name": "maxcoordinates",
            "in": "query",
            "description": "Maximum coordinates of bounding box in latitude longitude coordinate system",
            "required": true,
            "type": "string"
          },
          {
            "name": "text",
            "in": "query",
            "description": "Boolean to exclude textual data from response",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/copyrightbounding200"
            }
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "500": {
            "$ref": "#/responses/500"
          }
        }
      }
    },
    "/map/copyright/caption/{format}": {
      "get": {
        "description": "Returns the copyright caption information",
        "operationId": "GetCopyrightCaption",
        "x-ms-examples": {
          "GetCopyrightCaption": { "$ref": "./examples/GetCopyrightCaption.json" }
        },
        "parameters": [
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "$ref": "#/parameters/format"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/copyrightcaption200"
            }
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "500": {
            "$ref": "#/responses/500"
          }
        }
      }
    },
    "/map/copyright/world/{format}": {
      "get": {
        "description": "Returns the copyright information for the world",
        "operationId": "GetCopyrightWorld",
        "x-ms-examples": {
          "GetCopyrightWorld": { "$ref": "./examples/GetCopyrightWorld.json" }
        },
        "parameters": [
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "$ref": "#/parameters/format"
          },
          {
            "name": "text",
            "in": "query",
            "description": "Boolean to exclude textual data from response",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/copyrightworld200"
            }
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "500": {
            "$ref": "#/responses/500"
          }
        }
      }
    },
    "/map/copyright/tile/{format}": {
      "get": {
        "description": "Returns the copyright information for a given tile",
        "operationId": "GetCopyrightTile",
        "x-ms-examples": {
          "GetCopyrightTile": { "$ref": "./examples/GetCopyrightTile.json" }
        },
        "parameters": [
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "$ref": "#/parameters/format"
          },
          {
            "$ref": "#/parameters/zoom"
          },
          {
            "$ref": "#/parameters/x"
          },
          {
            "$ref": "#/parameters/y"
          },
          {
            "name": "text",
            "in": "query",
            "description": "Boolean to exclude textual data from response",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/copyrighttile200"
            }
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "500": {
            "$ref": "#/responses/500"
          }
        }
      }
    },

    "/map/static/{format}": {
      "get": {
        "description": "Returns a raster map tile",
        "operationId": "GetMapStaticTile",
        "x-ms-examples": {
          "GetMapStaticTile": { "$ref": "./examples/GetMapStaticTile.json" }
        },
        "parameters": [
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "$ref": "#/parameters/format"
          },
          {
            "name": "service",
            "in": "query",
            "description": "Service type",
            "required": false,
            "type": "string"
          },
          {
            "name": "version",
            "in": "query",
            "description": "WMS service version",
            "required": true,
            "default": "1.1.1",
            "type": "string"
          },
          {
            "name": "request",
            "in": "query",
            "description": "Request type",
            "required": true,
            "default": "GetMap",
            "type": "string"
          },
          {
            "name": "srs",
            "in": "query",
            "description": "Projection used in describing the bbox",
            "required": true,
            "default": "EPSG:4326",
            "enum": [
              "EPSG:4326",
              "EPSG:3857"
            ],
            "type": "string"
          },
          {
            "name": "bbox",
            "in": "query",
            "description": "Bounding box in the projection stated in srs.  In the stucture of 'minLon, minLat, maxLon, maxLat'",
            "required": true,
            "type": "string"
          },
          {
            "name": "height",
            "in": "query",
            "description": "Height of the resulting image, in pixels.  Maximum value is 2048.",
            "required": true,
            "type": "string"
          },
          {
            "name": "width",
            "in": "query",
            "description": "Width of the resulting image, in pixels.   Maximum value is 2048.",
            "required": true,
            "type": "string"
          },
          {
            "name": "layers",
            "in": "query",
            "description": "Map layer requested",
            "required": true,
            "default": "basic",
            "type": "string"
          },
          {
            "name": "styles",
            "in": "query",
            "description": "Map style to be returned",
            "required": true,
            "default": "1",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/mapstatic200"
            }
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "500": {
            "$ref": "#/responses/500"
          }
        }
      }
    },
    "/map/tile/{format}": {
      "get": {
        "description": "Returns a raster or vector map tile",
        "operationId": "GetMapTile",
        "x-ms-examples": {
          "GetMapTile": { "$ref": "./examples/GetMapTile.json" }
        },
        "parameters": [
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "$ref": "#/parameters/format"
          },
          {
            "name": "layer",
            "in": "query",
            "description": "Map layer requested",
            "required": true,
            "default": "basic",
            "enum": [
              "basic",
              "hybrid",
              "labels"
            ],
            "type": "string"
          },
          {
            "name": "style",
            "in": "query",
            "description": "Map style to be returned",
            "required": true,
            "default": "main",
            "enum": [
              "main",
              "night"
            ],
            "type": "string"
          },
          {
            "$ref": "#/parameters/zoom"
          },
          {
            "$ref": "#/parameters/x"
          },
          {
            "$ref": "#/parameters/y"
          },
          {
            "name": "tileSize",
            "in": "query",
            "description": "The size of the returned map tile",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/maptile200"
            }
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "500": {
            "$ref": "#/responses/500"
          }
        }
      }
    },

    "/search/fuzzy/{format}": {
      "get": {
        "description": "Returns the search results from a fuzzy search",
        "operationId": "GetSearchFuzzy",
        "x-ms-examples": {
          "GetSearchFuzzy": { "$ref": "./examples/GetSearchFuzzy.json" }
        },
        "parameters": [
          {
            "$ref": "#/parameters/format"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "$ref": "#/parameters/query"
          },
          {
            "name": "typeahead",
            "in": "query",
            "description": "If the typeahead flag is set, the query will be interpreted as a partial input and the search will enter predictive mode",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of responses that will be returned",
            "required": false,
            "type": "string"
          },
          {
            "name": "ofs",
            "in": "query",
            "description": "Starting offset of the returned results within the full result set",
            "required": false,
            "type": "string"
          },
          {
            "name": "countrySet",
            "in": "query",
            "description": "Comma separated string of country codes",
            "required": false,
            "type": "string"
          },
          {
            "name": "lat",
            "in": "query",
            "description": "Latitude where results should be biased",
            "required": false,
            "type": "string"
          },
          {
            "name": "lon",
            "in": "query",
            "description": "Longitude where results should be biased",
            "required": false,
            "type": "string"
          },
          {
            "name": "radius",
            "in": "query",
            "description": "If radius and position are set, the results will be constrained to the defined area",
            "required": false,
            "type": "string"
          },
          {
            "name": "topLeft",
            "in": "query",
            "description": "Top left position of the bounding box",
            "required": false,
            "type": "string"
          },
          {
            "name": "btmRight",
            "in": "query",
            "description": "Bottom right position of the bounding box",
            "required": false,
            "type": "string"
          },
          {
            "name": "language",
            "in": "query",
            "description": "Language in which search results should be returned",
            "required": false,
            "type": "string"
          },
          {
            "name": "extendedPostalCodesFor",
            "in": "query",
            "description": "Indexes for which extended postal codes should be included in the results",
            "required": false,
            "type": "string"
          },
          {
            "name": "minFuzzyLevel",
            "in": "query",
            "description": "Minimum fuzzyness level to be used",
            "required": false,
            "type": "string"
          },
          {
            "name": "maxFuzzyLevel",
            "in": "query",
            "description": "Maximum fuzzyness level to be used",
            "required": false,
            "type": "string"
          },
          {
            "name": "idxSet",
            "in": "query",
            "description": "A comma separated list of indexes which should be utilized for the search",
            "required": false,
            "type": "string"
          }

        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/searchfuzzy200"
            }
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "500": {
            "$ref": "#/responses/500"
          }
        }
      }
    },
    "/search/poi/{format}": {
      "get": {
        "description": "Returns the search results from a POI search",
        "operationId": "GetSearchPOI",
        "x-ms-examples": {
          "GetSearchPOI": { "$ref": "./examples/GetSearchPOI.json" }
        },
        "parameters": [
          {
            "$ref": "#/parameters/format"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "$ref": "#/parameters/query"
          },
          {
            "name": "typeahead",
            "in": "query",
            "description": "If the typeahead flag is set, the query will be interpreted as a partial input and the search will enter predictive mode",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of responses that will be returned",
            "required": false,
            "type": "string"
          },
          {
            "name": "ofs",
            "in": "query",
            "description": "Starting offset of the returned results within the full result set",
            "required": false,
            "type": "string"
          },
          {
            "name": "countrySet",
            "in": "query",
            "description": "Comma separated string of country codes",
            "required": false,
            "type": "string"
          },
          {
            "name": "lat",
            "in": "query",
            "description": "Latitude where results should be biased",
            "required": false,
            "type": "string"
          },
          {
            "name": "lon",
            "in": "query",
            "description": "Longitude where results should be biased",
            "required": false,
            "type": "string"
          },
          {
            "name": "radius",
            "in": "query",
            "description": "If radius and position are set, the results will be constrained to the defined area",
            "required": false,
            "type": "string"
          },
          {
            "name": "topLeft",
            "in": "query",
            "description": "Top left position of the bounding box",
            "required": false,
            "type": "string"
          },
          {
            "name": "btmRight",
            "in": "query",
            "description": "Bottom right position of the bounding box",
            "required": false,
            "type": "string"
          },
          {
            "name": "language",
            "in": "query",
            "description": "Language in which search results should be returned",
            "required": false,
            "type": "string"
          },
          {
            "name": "extendedPostalCodesFor",
            "in": "query",
            "description": "Indexes for which extended postal codes should be included in the results",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/searchpoi200"
            }
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "500": {
            "$ref": "#/responses/500"
          }
        }
      }
    },
    "/search/poi/category/{format}": {
      "get": {
        "description": "Returns the search results from a POI Category search",
        "operationId": "GetSearchPOICategory",
        "x-ms-examples": {
          "GetSearchPOICategory": { "$ref": "./examples/GetSearchPOICategory.json" }
        },
        "parameters": [
          {
            "$ref": "#/parameters/format"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "$ref": "#/parameters/query"
          },
          {
            "name": "typeahead",
            "in": "query",
            "description": "If the typeahead flag is set, the query will be interpreted as a partial input and the search will enter predictive mode",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of responses that will be returned",
            "required": false,
            "type": "string"
          },
          {
            "name": "ofs",
            "in": "query",
            "description": "Starting offset of the returned results within the full result set",
            "required": false,
            "type": "string"
          },
          {
            "name": "countrySet",
            "in": "query",
            "description": "Comma separated string of country codes",
            "required": false,
            "type": "string"
          },
          {
            "name": "lat",
            "in": "query",
            "description": "Latitude where results should be biased",
            "required": false,
            "type": "string"
          },
          {
            "name": "lon",
            "in": "query",
            "description": "Longitude where results should be biased",
            "required": false,
            "type": "string"
          },
          {
            "name": "radius",
            "in": "query",
            "description": "If radius and position are set, the results will be constrained to the defined area",
            "required": false,
            "type": "string"
          },
          {
            "name": "topLeft",
            "in": "query",
            "description": "Top left position of the bounding box",
            "required": false,
            "type": "string"
          },
          {
            "name": "btmRight",
            "in": "query",
            "description": "Bottom right position of the bounding box",
            "required": false,
            "type": "string"
          },
          {
            "name": "language",
            "in": "query",
            "description": "Language in which search results should be returned",
            "required": false,
            "type": "string"
          },
          {
            "name": "extendedPostalCodesFor",
            "in": "query",
            "description": "Indexes for which extended postal codes should be included in the results",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/searchpoicategory200"
            }
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "500": {
            "$ref": "#/responses/500"
          }
        }
      }
    },
    "/search/address/{format}": {
      "get": {
        "description": "Returns the search results from a Address search",
        "operationId": "GetSearchAddress",
        "x-ms-examples": {
          "GetSearchAddress": { "$ref": "./examples/GetSearchAddress.json" }
        },
        "parameters": [
          {
            "$ref": "#/parameters/format"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "$ref": "#/parameters/query"
          },
          {
            "name": "typeahead",
            "in": "query",
            "description": "If the typeahead flag is set, the query will be interpreted as a partial input and the search will enter predictive mode",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of responses that will be returned",
            "required": false,
            "type": "string"
          },
          {
            "name": "ofs",
            "in": "query",
            "description": "Starting offset of the returned results within the full result set",
            "required": false,
            "type": "string"
          },
          {
            "name": "countrySet",
            "in": "query",
            "description": "Comma separated string of country codes",
            "required": false,
            "type": "string"
          },
          {
            "name": "lat",
            "in": "query",
            "description": "Latitude where results should be biased",
            "required": false,
            "type": "string"
          },
          {
            "name": "lon",
            "in": "query",
            "description": "Longitude where results should be biased",
            "required": false,
            "type": "string"
          },
          {
            "name": "radius",
            "in": "query",
            "description": "If radius and position are set, the results will be constrained to the defined area",
            "required": false,
            "type": "string"
          },
          {
            "name": "topLeft",
            "in": "query",
            "description": "Top left position of the bounding box",
            "required": false,
            "type": "string"
          },
          {
            "name": "btmRight",
            "in": "query",
            "description": "Bottom right position of the bounding box",
            "required": false,
            "type": "string"
          },
          {
            "name": "language",
            "in": "query",
            "description": "Language in which search results should be returned",
            "required": false,
            "type": "string"
          },
          {
            "name": "extendedPostalCodesFor",
            "in": "query",
            "description": "Indexes for which extended postal codes should be included in the results",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/searchaddress200"
            }
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "500": {
            "$ref": "#/responses/500"
          }
        }
      }
    },
    "/search/address/reverse/{format}": {
      "get": {
        "description": "Returns the search results from a Reverse address search",
        "operationId": "GetSearchAddressReverse",
        "x-ms-examples": {
          "GetSearchAddressReverse": { "$ref": "./examples/GetSearchAddressReverse.json" }
        },
        "parameters": [
          {
            "$ref": "#/parameters/format"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "$ref": "#/parameters/query"
          },
          {
            "name": "spatialKeys",
            "in": "query",
            "description": "If the spatialKeys flag is set, the response will also contain a proprietary geo-spatial key information for a specified location",
            "required": false,
            "type": "string"
          },
          {
            "name": "returnSpeedLimit",
            "in": "query",
            "description": "To enable return of the posted speedlimit",
            "required": false,
            "type": "string"
          },
          {
            "name": "heading",
            "in": "query",
            "description": "The directional heading of the vehicle in degrees, for travel along a segment of roadway",
            "required": false,
            "type": "string"
          },
          {
            "name": "radius",
            "in": "query",
            "description": "The maximum distance in meters from the specified position for the reversegeocode to consider",
            "required": false,
            "type": "string"
          },
          {
            "name": "number",
            "in": "query",
            "description": "If a number is sent in along with the request, the response may include the side of the street (Left/Right) and also an offset position for that number",
            "required": false,
            "type": "string"
          },
          {
            "name": "returnRoadUse",
            "in": "query",
            "description": "To enable return of the road use array for reversegeocodes at street level",
            "required": false,
            "type": "string"
          },
          {
            "name": "roadUse",
            "in": "query",
            "description": "To restrict reversegeocodes to a certain type of roaduse",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/searchaddressreverse200"
            }
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "500": {
            "$ref": "#/responses/500"
          }
        }
      }
    },
    "/search/address/reverse/crossStreet/{format}": {
      "get": {
        "description": "Returns the search results from a Cross Street address search",
        "operationId": "GetSearchAddressReverseCrossStreet",
        "x-ms-examples": {
          "GetSearchAddressReverseCrossStreet": { "$ref": "./examples/GetSearchAddressReverseCrossStreet.json" }
        },
        "parameters": [
          {
            "$ref": "#/parameters/format"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "$ref": "#/parameters/query"
          },
          {
            "name": "spatialKeys",
            "in": "query",
            "description": "If the spatialKeys flag is set, the response will also contain a proprietary geo-spatial key information for a specified location",
            "required": false,
            "type": "string"
          },
          {
            "name": "heading",
            "in": "query",
            "description": "The directional heading of the vehicle in degrees, for travel along a segment of roadway",
            "required": false,
            "type": "string"
          },
          {
            "name": "radius",
            "in": "query",
            "description": "The maximum distance in meters from the specified position for the reversegeocode to consider",
            "required": false,
            "type": "string"
          },
          {
            "name": "language",
            "in": "query",
            "description": "Language in which search results should be returned",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/searchaddressreversecrossstreet200"
            }
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "500": {
            "$ref": "#/responses/500"
          }
        }
      }
    },
    "/search/address/structured/{format}": {
      "get": {
        "description": "Returns the search results from a Structured address search",
        "operationId": "GetSearchAddressStructured",
        "x-ms-examples": {
          "GetSearchAddressStructured": { "$ref": "./examples/GetSearchAddressStructured.json" }
        },
        "parameters": [
          {
            "$ref": "#/parameters/format"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "name": "countryCode",
            "in": "query",
            "description": "The country code portion of an address",
            "required": true,
            "default": "US",
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of responses that will be returned",
            "required": false,
            "type": "string"
          },
          {
            "name": "ofs",
            "in": "query",
            "description": "Starting offset of the returned results within the full result set",
            "required": false,
            "type": "string"
          },
          {
            "name": "streetNumber",
            "in": "query",
            "description": "The street number portion of an address",
            "required": false,
            "type": "string"
          },
          {
            "name": "streetName",
            "in": "query",
            "description": "The street name portion of an address",
            "required": false,
            "type": "string"
          },
          {
            "name": "crossStreet",
            "in": "query",
            "description": "The cross street name for the structured address",
            "required": false,
            "type": "string"
          },
          {
            "name": "municipality",
            "in": "query",
            "description": "The municipality portion of an address",
            "required": false,
            "type": "string"
          },
          {
            "name": "municipalitySubdivision",
            "in": "query",
            "description": "The municipality subdivision (sub/super city) for the structured address",
            "required": false,
            "type": "string"
          },
          {
            "name": "countryTertiarySubdivision",
            "in": "query",
            "description": "The named area for the structured address",
            "required": false,
            "type": "string"
          },
          {
            "name": "countrySecondarySubdivision",
            "in": "query",
            "description": "The county for the structured address",
            "required": false,
            "type": "string"
          },
          {
            "name": "countrySubdivision",
            "in": "query",
            "description": "The country subdividion portion of an address",
            "required": false,
            "type": "string"
          },
          {
            "name": "postalCode",
            "in": "query",
            "description": "The postal code portion of an address",
            "required": false,
            "type": "string"
          },
          {
            "name": "extendedPostalCodesFor",
            "in": "query",
            "description": "Indexes for which extended postal codes should be included in the results",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/searchaddressstructured200"
            }
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "500": {
            "$ref": "#/responses/500"
          }
        }
      }
    },

    "/route/directions/{format}": {
      "get": {
        "description": "Returns routing directions between 2 coordinates",
        "operationId": "GetRouteDirections",
        "x-ms-examples": {
          "GetRouteDirections": { "$ref": "./examples/GetRouteDirections.json" }
        },
        "parameters": [
          {
            "$ref": "#/parameters/format"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "$ref": "#/parameters/query"
          },
          {
            "name": "maxAlternatives",
            "in": "query",
            "description": "Number of desired alternative routes to be calculated",
            "required": false,
            "type": "string"
          },
          {
            "name": "alternativeType",
            "in": "query",
            "description": "Controls the optimality, with respect to the given planning criteria",
            "required": false,
            "type": "string"
          },
          {
            "name": "minDeviationDistance",
            "in": "query",
            "description": "All alternative routes returned will follow the reference route from the origin point of the calculateRoute request for at least this number of meters",
            "required": false,
            "type": "string"
          },
          {
            "name": "minDeviationTime",
            "in": "query",
            "description": "All alternative routes returned will follow the reference route from the origin point of the calculateRoute request for at least this number of seconds",
            "required": false,
            "type": "string"
          },
          {
            "name": "instructionsType",
            "in": "query",
            "description": "If specified, guidance instructions will be returned (if available).",
            "required": false,
            "type": "string"
          },
          {
            "name": "language",
            "in": "query",
            "description": "The language parameter determines the language of the guidance messages",
            "required": false,
            "type": "string"
          },
          {
            "name": "computeBestOrder",
            "in": "query",
            "description": "Re-order the route waypoints to reduce the route length. Yields best results when used in conjunction with routeType shortest",
            "required": false,
            "type": "string"
          },
          {
            "name": "routeRepresentation",
            "in": "query",
            "description": "Specifies the representation of the set of routes provided as response",
            "required": false,
            "type": "string"
          },
          {
            "name": "computeTravelTimeFor",
            "in": "query",
            "description": "Specifies whether to return additional travel times using different types of traffic information (none, historic, live) as well as the default best-estimate travel time",
            "required": false,
            "type": "string"
          },
          {
            "name": "vehicleHeading",
            "in": "query",
            "description": "The directional heading of the vehicle in degrees starting at true North and continuing in clockwise direction",
            "required": false,
            "type": "string"
          },
          {
            "name": "report",
            "in": "query",
            "description": "Specifies which data should be reported for diagnosis purposes",
            "required": false,
            "type": "string"
          },
          {
            "name": "sectionType",
            "in": "query",
            "description": "Specifies which of the section types is reported in the route response",
            "required": false,
            "type": "string"
          }

        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/routedirections200"
            }
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "500": {
            "$ref": "#/responses/500"
          }
        }
      }
    },

    "/timezone/byId/{format}": {
      "get": {
        "description": "Returns the timezone info for an IANA ID",
        "operationId": "GetTimezoneByID",
        "x-ms-examples": {
          "GetTimezoneByID": { "$ref": "./examples/GetTimezoneByID.json" }
        },
        "parameters": [
          {
            "$ref": "#/parameters/format"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "$ref": "#/parameters/query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/timezonebyid200"
            }
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "500": {
            "$ref": "#/responses/500"
          }
        }
      }
    },
    "/timezone/byCoordinates/{format}": {
      "get": {
        "description": "Returns the timezone info for a coordinates",
        "operationId": "GetTimezoneByCoordinates",
        "x-ms-examples": {
          "GetTimezoneByCoordinates": { "$ref": "./examples/GetTimezoneByCoordinates.json" }
        },
        "parameters": [
          {
            "$ref": "#/parameters/format"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "$ref": "#/parameters/query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/timezonebycoordinates200"
            }
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "500": {
            "$ref": "#/responses/500"
          }
        }
      }
    },
    "/timezone/enumWindows/{format}": {
      "get": {
        "description": "Returns all the Windows timezones",
        "operationId": "GetTimezoneEnumWindows",
        "x-ms-examples": {
          "GetTimezoneEnumWindows": { "$ref": "./examples/GetTimezoneEnumWindows.json" }
        },
        "parameters": [
          {
            "$ref": "#/parameters/format"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/timezoneenumwindows200"
            }
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "500": {
            "$ref": "#/responses/500"
          }
        }
      }
    },
    "/timezone/enumIana/{format}": {
      "get": {
        "description": "Returns all the IANA timezones",
        "operationId": "GetTimezoneEnumIANA",
        "x-ms-examples": {
          "GetTimezoneEnumIANA": { "$ref": "./examples/GetTimezoneEnumIANA.json" }
        },
        "parameters": [
          {
            "$ref": "#/parameters/format"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/timezoneenumiana200"
            }
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "500": {
            "$ref": "#/responses/500"
          }
        }
      }
    },
    "/timezone/ianaVersion/{format}": {
      "get": {
        "description": "Returns the current IANA version",
        "operationId": "GetTimezoneIANAVersion",
        "x-ms-examples": {
          "GetTimezoneIANAVersion": { "$ref": "./examples/GetTimezoneIANAVersion.json" }
        },
        "parameters": [
          {
            "$ref": "#/parameters/format"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/timezoneianaversion200"
            }
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "500": {
            "$ref": "#/responses/500"
          }
        }
      }
    },
    "/timezone/windowsToIana/{format}": {
      "get": {
        "description": "Get the IANA timezone from a Windows timezone",
        "operationId": "GetTimezoneWindowsToIANA",
        "x-ms-examples": {
          "GetTimezoneWindowsToIANA": { "$ref": "./examples/GetTimezoneWindowsToIANA.json" }
        },
        "parameters": [
          {
            "$ref": "#/parameters/format"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "$ref": "#/parameters/query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/timezonewindowstoiana200"
            }
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "500": {
            "$ref": "#/responses/500"
          }
        }
      }
    },

    "/traffic/flow/tile/{format}": {
      "get": {
        "description": "Get the traffic flow tile for a given coordinates",
        "operationId": "GetTrafficFlowTile",
        "x-ms-examples": {
          "GetTrafficFlowTile": { "$ref": "./examples/GetTrafficFlowTile.json" }
        },
        "parameters": [
          {
            "$ref": "#/parameters/format"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "name": "style",
            "in": "query",
            "description": "Map style to be returned",
            "required": true,
            "default": "absolute",
            "type": "string"
          },
          {
            "$ref": "#/parameters/zoom"
          },
          {
            "$ref": "#/parameters/x"
          },
          {
            "$ref": "#/parameters/y"
          },
          {
            "name": "thickness",
            "in": "query",
            "description": "The segment width multiplier",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/trafficflowtile200"
            }
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "500": {
            "$ref": "#/responses/500"
          }
        }
      }
    },
    "/traffic/flow/segment/{format}": {
      "get": {
        "description": "Get the traffic flow segment for a given coordinates",
        "operationId": "GetTrafficFlowSegment",
        "x-ms-examples": {
          "GetTrafficFlowSegment": { "$ref": "./examples/GetTrafficFlowSegment.json" }
        },
        "parameters": [
          {
            "$ref": "#/parameters/format"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "name": "style",
            "in": "query",
            "description": "Map style to be returned",
            "required": true,
            "default": "absolute",
            "type": "string"
          },
          {
            "$ref": "#/parameters/zoom"
          },
          {
            "$ref": "#/parameters/query"
          },
          {
            "name": "unit",
            "in": "query",
            "description": "Unit of speed",
            "required": false,
            "type": "string"
          },
          {
            "name": "thickness",
            "in": "query",
            "description": "Segment width multiplier",
            "required": false,
            "type": "string"
          },
          {
            "name": "openLr",
            "in": "query",
            "description": "Whether the response should include OpenLR code",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/trafficflowsegment200"
            }
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "500": {
            "$ref": "#/responses/500"
          }
        }
      }
    },
    "/traffic/incident/tile/{format}": {
      "get": {
        "description": "Get the traffic incident tile for a given coordinates",
        "operationId": "GetTrafficIncidentTile",
        "x-ms-examples": {
          "GetTrafficIncidentTile": { "$ref": "./examples/GetTrafficIncidentTile.json" }
        },
        "parameters": [
          {
            "$ref": "#/parameters/format"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "name": "style",
            "in": "query",
            "description": "The style to be used to render the tile",
            "required": true,
            "default": "s3",
            "type": "string"
          },
          {
            "$ref": "#/parameters/zoom"
          },
          {
            "$ref": "#/parameters/x"
          },
          {
            "$ref": "#/parameters/y"
          },
          {
            "name": "t",
            "in": "query",
            "description": "Reference value for the state of traffic at a particular time, obtained from the Viewport API call",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/trafficincidenttile200"
            }
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "500": {
            "$ref": "#/responses/500"
          }
        }
      }
    },
    "/traffic/incident/detail/{format}": {
      "get": {
        "description": "Get the traffic incident detail for a given coordinates",
        "operationId": "GetTrafficIncidentDetail",
        "x-ms-examples": {
          "GetTrafficIncidentDetail": { "$ref": "./examples/GetTrafficIncidentDetail.json" }
        },
        "parameters": [
          {
            "$ref": "#/parameters/format"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "name": "style",
            "in": "query",
            "description": "The style to be used to render the tile",
            "required": true,
            "default": "s3",
            "type": "string"
          },
          {
            "name": "boundingbox",
            "in": "query",
            "description": "The bounding box coordinates",
            "required": true,
            "type": "string"
          },
          {
            "name": "boundingzoom",
            "in": "query",
            "description": "The zoom level of the bounding box",
            "required": true,
            "type": "string"
          },
          {
            "name": "trafficmodelid",
            "in": "query",
            "description": "The traffic model id",
            "required": true,
            "type": "string"
          },
          {
            "name": "language",
            "in": "query",
            "description": "ISO 639-1 code for the output language",
            "required": false,
            "type": "string"
          },
          {
            "name": "projection",
            "in": "query",
            "description": "The projection used to specify the coordinates in the request and response",
            "required": false,
            "type": "string"
          },
          {
            "name": "geometries",
            "in": "query",
            "description": "The type of vector geometry added to incidents",
            "required": false,
            "type": "string"
          },
          {
            "name": "expandCluster",
            "in": "query",
            "description": "List all traffic incidents in a cluster separately",
            "required": false,
            "type": "string"
          },
          {
            "name": "originalPosition",
            "in": "query",
            "description": "Return the original position of the incident (<op>) as well as the one shifted to the beginning of the traffic tube (<p>)",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/trafficincidentdetail200"
            }
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "500": {
            "$ref": "#/responses/500"
          }
        }
      }
    },
    "/traffic/incident/viewport/{format}": {
      "get": {
        "description": "Get the traffic incident viewport for a given boundingbox",
        "operationId": "GetTrafficIncidentViewport",
        "x-ms-examples": {
          "GetTrafficIncidentViewport": { "$ref": "./examples/GetTrafficIncidentViewport.json" }
        },
        "parameters": [
          {
            "$ref": "#/parameters/format"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "name": "boundingbox",
            "in": "query",
            "description": "The bounding box coordinates",
            "required": true,
            "type": "string"
          },
          {
            "name": "boundingzoom",
            "in": "query",
            "description": "The zoom level of the bounding box",
            "required": true,
            "type": "string"
          },
          {
            "name": "overviewbox",
            "in": "query",
            "description": "The overview box coordinates",
            "required": true,
            "type": "string"
          },
          {
            "name": "overviewzoom",
            "in": "query",
            "description": "The zoom level of the overview box",
            "required": true,
            "type": "string"
          },
          {
            "name": "copyright",
            "in": "query",
            "description": "The copyright boolean",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/trafficincidentviewport200"
            }
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "500": {
            "$ref": "#/responses/500"
          }
        }
      }
    }

  },

  "definitions": {
    "Error": {
      "type": "object",
      "description": "This object is returned when an error occurs in the Location Based Service API",
      "properties": {
        "statuscode": {
          "type": "string",
          "readOnly": true,
          "description": "Error code."
        },
        "message": {
          "type": "string",
          "readOnly": true,
          "description": "If available, a human readable description of the error."
        }
      }
    },
    "poi": {
      "description": "POI property",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name property",
          "type": "string",
          "readOnly": true
        },
        "phone": {
          "description": "Phone property",
          "type": "string",
          "readOnly": true
        },
        "url": {
          "description": "URL property",
          "type": "string",
          "readOnly": true
        },
        "categories": {
          "description": "Categories array",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string",
            "readOnly": true
          }
        },

        "classifications": {
          "description": "Classification array",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "object",
            "properties": {
              "code": {
                "description": "Code property",
                "type": "string",
                "readOnly": true
              },
              "names": {
                "description": "Names array",
                "type": "array",
                "readOnly": true,
                "items": {
                  "type": "object",
                  "properties": {
                    "nameLocale": {
                      "description": "Name Locale property",
                      "type": "string",
                      "readOnly": true
                    },
                    "name": {
                      "description": "Name property",
                      "type": "string",
                      "readOnly": true
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "address": {
      "description": "The address of the result",
      "type": "object",
      "properties": {
        "buildingNumber": {
          "description": "Building Number property",
          "type": "string",
          "readOnly": true
        },
        "street": {
          "description": "Street property",
          "type": "string",
          "readOnly": true
        },
        "crossStreet": {
          "description": "Cross Street property",
          "type": "string",
          "readOnly": true
        },
        "streetNumber": {
          "description": "Street Number property",
          "type": "string",
          "readOnly": true
        },
        "streetName": {
          "description": "Street Name property",
          "type": "string",
          "readOnly": true
        },
        "streetNameAndNumber": {
          "description": "Street Name and Number property",
          "type": "string",
          "readOnly": true
        },
        "municipality": {
          "description": "Municipality property",
          "type": "string",
          "readOnly": true
        },
        "municipalitySubdivision": {
          "description": "Municipality Subdivision property",
          "type": "string",
          "readOnly": true
        },
        "countryTertiarySubdivision": {
          "description": "Country Tertiary Subdivision property",
          "type": "string",
          "readOnly": true
        },
        "countrySecondarySubdivision": {
          "description": "Country Secondary Subdivision property",
          "type": "string",
          "readOnly": true
        },
        "countrySubdivision": {
          "description": "Country Subdivision property",
          "type": "string",
          "readOnly": true
        },
        "postalCode": {
          "description": "Postal Code property",
          "type": "string",
          "readOnly": true
        },
        "extendedPostalCode": {
          "description": "Extended Postal Code property",
          "type": "string",
          "readOnly": true
        },
        "countryCode": {
          "description": "Country Code property",
          "type": "string",
          "readOnly": true
        },
        "country": {
          "description": "Country property",
          "type": "string",
          "readOnly": true
        },
        "countryCodeISO3": {
          "description": "Country Code ISO3 property",
          "type": "string",
          "readOnly": true
        },
        "freeformAddress": {
          "description": "Free form Address property",
          "type": "string",
          "readOnly": true
        },
        "countrySubdivisionName": {
          "description": "Country Subdividion Name property",
          "type": "string",
          "readOnly": true
        },
        "boundingBox": {
          "description": "Bounding Box for the address",
          "type": "object",
          "properties": {
            "northEast": {
              "type": "string",
              "readOnly": true,
              "description": "The North East coordinates for the Bounding Box"
            },
            "southWest": {
              "type": "string",
              "readOnly": true,
              "description": "The South West coordinates for the Bounding Box"
            }
          }
        }
      }
    },
    "position": {
      "description": "Coordinates of the result",
      "type": "object",
      "properties": {
        "lat": {
          "type": "number",
          "readOnly": true,
          "description": "Latitude property"
        },
        "lon": {
          "type": "number",
          "readOnly": true,
          "description": "Longitude property"
        }
      }
    },
    "viewport": {
      "description": "The viewport that covers the result",
      "type": "object",
      "properties": {
        "topLeftPoint": {
          "description": "Top left of the viewport",
          "type": "object",
          "properties": {
            "lat": {
              "type": "number",
              "readOnly": true,
              "description": "Latitude"
            },
            "lon": {
              "type": "number",
              "readOnly": true,
              "description": "Longitude"
            }
          }
        },
        "btmRightPoint": {
          "description": "Bottom right of the viewport",
          "type": "object",
          "properties": {
            "lat": {
              "type": "number",
              "readOnly": true,
              "description": "Latitude"
            },
            "lon": {
              "type": "number",
              "readOnly": true,
              "description": "Longitude"
            }
          }
        }
      }
    },
    "entrypoints": {
      "description": "Entry Points array",
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "type": {
            "description": "Name Locale property",
            "type": "string",
            "readOnly": true
          },
          "position": {
            "description": "Name property",
            "type": "object",
            "readOnly": true,
            "properties": {
              "lat": {
                "description": "Latitude property",
                "type": "number",
                "readOnly": true
              },
              "lon": {
                "description": "Longitude property",
                "type": "number",
                "readOnly": true
              }
            }
          }
        }
      }
    },

    "copyrightbounding200": {
      "description": "This object is returned from a successful Copyright Bounding call",
      "type": "object",
      "properties": {
        "formatVersion": {
          "description": "Format Version property",
          "type": "string",
          "readOnly": true
        },
        "generalCopyrights": {
          "description": "General Copyrights array",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string",
            "readOnly": true
          }
        },
        "regions": {
          "description": "Regions array",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "object",
            "properties": {
              "copyrights": {
                "description": "Copyrights array",
                "type": "array",
                "readOnly": true,
                "items": {
                  "type": "string",
                  "readOnly": true
                }
              },
              "country": {
                "description": "Country property",
                "type": "object",
                "readOnly": true,
                "properties": {
                  "ISO3": {
                    "description": "ISO3 property",
                    "type": "string",
                    "readOnly": true
                  },
                  "label": {
                    "description": "Label property",
                    "type": "string",
                    "readOnly": true
                  }
                }
              }
            }
          }
        }
      }
    },
    "copyrightcaption200": {
      "description": "This object is returned from a successful Copyright Caption call",
      "type": "object",
      "properties": {
        "formatVersion": {
          "description": "Format Version property",
          "type": "string",
          "readOnly": true
        },
        "copyrightsCaption": {
          "description": "Copyrights Caption property",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "copyrightworld200": {
      "description": "This object is returned from a successful Copyright World call",
      "type": "object",
      "properties": {
        "formatVersion": {
          "description": "Format Version property",
          "type": "string",
          "readOnly": true
        },
        "generalCopyrights": {
          "description": "General Copyrights array",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string",
            "readOnly": true
          }
        },
        "regions": {
          "description": "Regions array",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "object",
            "properties": {
              "copyrights": {
                "description": "Copyrights array",
                "type": "array",
                "readOnly": true,
                "items": {
                  "type": "string",
                  "readOnly": true
                }
              },
              "country": {
                "description": "Country property",
                "type": "object",
                "readOnly": true,
                "properties": {
                  "ISO3": {
                    "description": "ISO3 property",
                    "type": "string",
                    "readOnly": true
                  },
                  "label": {
                    "description": "Label property",
                    "type": "string",
                    "readOnly": true
                  }
                }
              }
            }
          }
        }
      }
    },
    "copyrighttile200": {
      "description": "This object is returned from a successful Copyright Tile call",
      "type": "object",
      "properties": {
        "formatVersion": {
          "description": "Format Version property",
          "type": "string",
          "readOnly": true
        },
        "generalCopyrights": {
          "description": "General Copyrights array",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string",
            "readOnly": true
          }
        },
        "regions": {
          "description": "Regions array",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "object",
            "properties": {
              "copyrights": {
                "description": "Copyrights array",
                "type": "array",
                "readOnly": true,
                "items": {
                  "type": "string",
                  "readOnly": true
                }
              },
              "country": {
                "description": "Country property",
                "type": "object",
                "readOnly": true,
                "properties": {
                  "ISO3": {
                    "description": "ISO3 property",
                    "type": "string",
                    "readOnly": true
                  },
                  "label": {
                    "description": "Label property",
                    "type": "string",
                    "readOnly": true
                  }
                }
              }
            }
          }
        }
      }
    },

    "mapstatic200": {
      "description": "This object is returned from a successful Map Static call",
      "type": "object",
      "properties": {
        "image": {
          "description": "Image property",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "maptile200": {
      "description": "This object is returned from a successful Map Tile call",
      "type": "object",
      "properties": {
        "image": {
          "description": "Image property",
          "type": "string",
          "readOnly": true
        }
      }
    },

    "searchfuzzy200": {
      "description": "This object is returned from a successful Search Fuzzy call",
      "type": "object",
      "properties": {
        "summary": {
          "description": "Summary object",
          "type": "object",
          "readOnly": true,
          "properties": {
            "query": {
              "description": "Query property",
              "type": "string",
              "readOnly": true
            },
            "queryType": {
              "description": "QueryType property",
              "type": "string",
              "readOnly": true
            },
            "queryTime": {
              "description": "QueryTime property",
              "type": "integer",
              "readOnly": true
            },
            "numResults": {
              "description": "NumResults property",
              "type": "integer",
              "readOnly": true
            },
            "offset": {
              "description": "Offset property",
              "type": "integer",
              "readOnly": true
            },
            "totalResults": {
              "description": "TotalResults property",
              "type": "integer",
              "readOnly": true
            },
            "fuzzyLevel": {
              "description": "FuzzyLevel property",
              "type": "integer",
              "readOnly": true
            }
          }
        },

        "results": {
          "description": "Results array",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "object",
            "properties": {
              "type": {
                "description": "Type property",
                "type": "string",
                "readOnly": true
              },
              "id": {
                "description": "Id property",
                "type": "string",
                "readOnly": true
              },
              "score": {
                "description": "Score property",
                "type": "number",
                "readOnly": true
              },
              "info": {
                "description": "Info property",
                "type": "string",
                "readOnly": true
              },
              "entityType": {
                "description": "Entity Type property",
                "type": "string",
                "readOnly": true
              },

              "poi": {
                "description": "POI property",
                "$ref": "#/definitions/poi"
              },
              "address": {
                "description": "The address of the result",
                "$ref": "#/definitions/address"
              },
              "position": {
                "description": "Coordinates of the result",
                "$ref": "#/definitions/position"
              },
              "viewport": {
                "description": "The viewport that covers the result",
                "$ref": "#/definitions/viewport"
              },
              "boundingBox": {
                "description": "Bounding box of the result",
                "type": "object",
                "properties": {
                  "topLeftPoint": {
                    "description": "Top left of the viewport",
                    "type": "object",
                    "properties": {
                      "lat": {
                        "type": "number",
                        "readOnly": true,
                        "description": "Latitude"
                      },
                      "lon": {
                        "type": "number",
                        "readOnly": true,
                        "description": "Longitude"
                      }
                    }
                  },
                  "btmRightPoint": {
                    "description": "Bottom right of the viewport",
                    "type": "object",
                    "properties": {
                      "lat": {
                        "type": "number",
                        "readOnly": true,
                        "description": "Latitude"
                      },
                      "lon": {
                        "type": "number",
                        "readOnly": true,
                        "description": "Longitude"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "searchpoi200": {
      "description": "This object is returned from a successful Search POI call",
      "type": "object",
      "properties": {
        "summary": {
          "description": "Summary object",
          "type": "object",
          "readOnly": true,
          "properties": {
            "query": {
              "description": "Query property",
              "type": "string",
              "readOnly": true
            },
            "queryType": {
              "description": "QueryType property",
              "type": "string",
              "readOnly": true
            },
            "queryTime": {
              "description": "QueryTime property",
              "type": "integer",
              "readOnly": true
            },
            "numResults": {
              "description": "NumResults property",
              "type": "integer",
              "readOnly": true
            },
            "offset": {
              "description": "Offset property",
              "type": "integer",
              "readOnly": true
            },
            "totalResults": {
              "description": "TotalResults property",
              "type": "integer",
              "readOnly": true
            },
            "fuzzyLevel": {
              "description": "FuzzyLevel property",
              "type": "integer",
              "readOnly": true
            }
          }
        },

        "results": {
          "description": "Results array",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "object",
            "properties": {
              "type": {
                "description": "Type property",
                "type": "string",
                "readOnly": true
              },
              "id": {
                "description": "Id property",
                "type": "string",
                "readOnly": true
              },
              "score": {
                "description": "Score property",
                "type": "number",
                "readOnly": true
              },
              "info": {
                "description": "Info property",
                "type": "string",
                "readOnly": true
              },
              "entityType": {
                "description": "Entity Type property",
                "type": "string",
                "readOnly": true
              },

              "poi": {
                "description": "POI property",
                "$ref": "#/definitions/poi"
              },
              "address": {
                "description": "The address of the result",
                "$ref": "#/definitions/address"
              },
              "position": {
                "description": "Coordinates of the result",
                "$ref": "#/definitions/position"
              },
              "viewport": {
                "description": "The viewport that covers the result",
                "$ref": "#/definitions/viewport"
              },
              "entryPoints": {
                "description": "Entry Points array",
                "$ref": "#/definitions/entrypoints"
              }
            }
          }
        }
      }
    },
    "searchpoicategory200": {
      "description": "This object is returned from a successful Search POI Category call",
      "type": "object",
      "properties": {
        "summary": {
          "description": "Summary object",
          "type": "object",
          "readOnly": true,
          "properties": {
            "query": {
              "description": "Query property",
              "type": "string",
              "readOnly": true
            },
            "queryType": {
              "description": "QueryType property",
              "type": "string",
              "readOnly": true
            },
            "queryTime": {
              "description": "QueryTime property",
              "type": "integer",
              "readOnly": true
            },
            "numResults": {
              "description": "NumResults property",
              "type": "integer",
              "readOnly": true
            },
            "offset": {
              "description": "Offset property",
              "type": "integer",
              "readOnly": true
            },
            "totalResults": {
              "description": "TotalResults property",
              "type": "integer",
              "readOnly": true
            },
            "fuzzyLevel": {
              "description": "FuzzyLevel property",
              "type": "integer",
              "readOnly": true
            }
          }
        },

        "results": {
          "description": "Results array",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "object",
            "properties": {
              "type": {
                "description": "Type property",
                "type": "string",
                "readOnly": true
              },
              "id": {
                "description": "Id property",
                "type": "string",
                "readOnly": true
              },
              "score": {
                "description": "Score property",
                "type": "number",
                "readOnly": true
              },
              "info": {
                "description": "Info property",
                "type": "string",
                "readOnly": true
              },
              "entityType": {
                "description": "Entity Type property",
                "type": "string",
                "readOnly": true
              },

              "poi": {
                "description": "POI property",
                "$ref": "#/definitions/poi"
              },
              "address": {
                "description": "The address of the result",
                "$ref": "#/definitions/address"
              },
              "position": {
                "description": "Coordinates of the result",
                "$ref": "#/definitions/position"
              },
              "viewport": {
                "description": "The viewport that covers the result",
                "$ref": "#/definitions/viewport"
              },
              "entryPoints": {
                "description": "Entry Points array",
                "$ref": "#/definitions/entrypoints"
              }
            }
          }
        }
      }
    },
    "searchaddress200": {
      "description": "This object is returned from a successful Search Address call",
      "type": "object",
      "properties": {
        "summary": {
          "description": "Summary object",
          "type": "object",
          "readOnly": true,
          "properties": {
            "query": {
              "description": "Query property",
              "type": "string",
              "readOnly": true
            },
            "queryType": {
              "description": "QueryType property",
              "type": "string",
              "readOnly": true
            },
            "queryTime": {
              "description": "QueryTime property",
              "type": "integer",
              "readOnly": true
            },
            "numResults": {
              "description": "NumResults property",
              "type": "integer",
              "readOnly": true
            },
            "offset": {
              "description": "Offset property",
              "type": "integer",
              "readOnly": true
            },
            "totalResults": {
              "description": "TotalResults property",
              "type": "integer",
              "readOnly": true
            },
            "fuzzyLevel": {
              "description": "FuzzyLevel property",
              "type": "integer",
              "readOnly": true
            }
          }
        },

        "results": {
          "description": "Results array",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "object",
            "properties": {
              "type": {
                "description": "Type property",
                "type": "string",
                "readOnly": true
              },
              "id": {
                "description": "Id property",
                "type": "string",
                "readOnly": true
              },
              "score": {
                "description": "Score property",
                "type": "number",
                "readOnly": true
              },
              "address": {
                "description": "The address of the result",
                "$ref": "#/definitions/address"
              },
              "position": {
                "description": "Coordinates of the result",
                "$ref": "#/definitions/position"
              },
              "viewport": {
                "description": "The viewport that covers the result",
                "$ref": "#/definitions/viewport"
              },
              "entryPoints": {
                "description": "Entry Points array",
                "$ref": "#/definitions/entrypoints"
              }
            }
          }
        }
      }
    },
    "searchaddressreverse200": {
      "description": "This object is returned from a successful Search Address Reverse call",
      "type": "object",
      "properties": {
        "summary": {
          "description": "Summary object",
          "type": "object",
          "readOnly": true,
          "properties": {
            "queryTime": {
              "description": "QueryTime property",
              "type": "integer",
              "readOnly": true
            },
            "numResults": {
              "description": "NumResults property",
              "type": "integer",
              "readOnly": true
            }
          }
        },
        "addresses": {
          "description": "Addresses array",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "object",
            "properties": {
              "address": {
                "description": "The address of the result",
                "$ref": "#/definitions/address"
              },
              "position": {
                "type": "string",
                "readOnly": true,
                "description": "Position property"
              }
            }
          }
        }
      }
    },
    "searchaddressreversecrossstreet200": {
      "description": "This object is returned from a successful Search Address Reverse CrossStreet call",
      "type": "object",
      "properties": {
        "summary": {
          "description": "Summary object",
          "type": "object",
          "readOnly": true,
          "properties": {
            "queryTime": {
              "description": "QueryTime property",
              "type": "integer",
              "readOnly": true
            },
            "numResults": {
              "description": "NumResults property",
              "type": "integer",
              "readOnly": true
            }
          }
        },

        "addresses": {
          "description": "Addresses array",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "object",
            "properties": {
              "address": {
                "description": "The address of the result",
                "$ref": "#/definitions/address"
              },
              "position": {
                "type": "string",
                "readOnly": true,
                "description": "Position property"
              }
            }
          }
        }
      }
    },
    "searchaddressstructured200": {
      "description": "This object is returned from a successful Search Address Structured call",
      "type": "object",
      "properties": {
        "summary": {
          "description": "Summary object",
          "type": "object",
          "readOnly": true,
          "properties": {
            "query": {
              "description": "Query property",
              "type": "string",
              "readOnly": true
            },
            "queryType": {
              "description": "QueryType property",
              "type": "string",
              "readOnly": true
            },
            "queryTime": {
              "description": "QueryTime property",
              "type": "integer",
              "readOnly": true
            },
            "numResults": {
              "description": "NumResults property",
              "type": "integer",
              "readOnly": true
            },
            "offset": {
              "description": "Offset property",
              "type": "integer",
              "readOnly": true
            },
            "totalResults": {
              "description": "TotalResults property",
              "type": "integer",
              "readOnly": true
            },
            "fuzzyLevel": {
              "description": "FuzzyLevel property",
              "type": "integer",
              "readOnly": true
            },
            "geoBias": {
              "description": "Geo Bias of the result",
              "type": "object",
              "properties": {
                "lat": {
                  "type": "number",
                  "readOnly": true,
                  "description": "Latitude property"
                },
                "lon": {
                  "type": "number",
                  "readOnly": true,
                  "description": "Longitude property"
                }
              }
            }
          }
        },

        "results": {
          "description": "Results array",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "object",
            "properties": {
              "type": {
                "description": "Type property",
                "type": "string",
                "readOnly": true
              },
              "id": {
                "description": "Id property",
                "type": "string",
                "readOnly": true
              },
              "score": {
                "description": "Score property",
                "type": "number",
                "readOnly": true
              },
              "dist": {
                "description": "Dist property",
                "type": "number",
                "readOnly": true
              },
              "address": {
                "description": "The address of the result",
                "$ref": "#/definitions/address"
              },
              "position": {
                "description": "Coordinates of the result",
                "$ref": "#/definitions/position"
              },
              "viewport": {
                "description": "The viewport that covers the result",
                "$ref": "#/definitions/viewport"
              },
              "entryPoints": {
                "description": "Entry Points array",
                "$ref": "#/definitions/entrypoints"
              }
            }
          }
        }
      }
    },

    "routedirections200": {
      "description": "This object is returned from a successful Route Directions call",
      "type": "object",
      "properties": {
        "formatVersion": {
          "description": "Format Version property",
          "type": "string",
          "readOnly": true
        },
        "copyright": {
          "description": "Copyright property",
          "type": "string",
          "readOnly": true
        },
        "privacy": {
          "description": "Privacy property",
          "type": "string",
          "readOnly": true
        },
        "routes": {
          "description": "Routes array",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "object",
            "properties": {
              "summary": {
                "description": "Summary object",
                "type": "object",
                "readOnly": true,
                "properties": {
                  "lengthInMeters": {
                    "description": "Length In Meters property",
                    "type": "integer",
                    "readOnly": true
                  },
                  "travelTimeInSeconds": {
                    "description": "Travel Time In Seconds property",
                    "type": "integer",
                    "readOnly": true
                  },
                  "trafficDelayInSeconds": {
                    "description": "Traffic Delay In Seconds property",
                    "type": "integer",
                    "readOnly": true
                  },
                  "departureTime": {
                    "description": "Departure Time property",
                    "type": "string",
                    "readOnly": true
                  },
                  "arrivalTime": {
                    "description": "Arrival Time property",
                    "type": "string",
                    "readOnly": true
                  }
                }
              },
              "legs": {
                "description": "Legs array",
                "type": "array",
                "readOnly": true,
                "items": {
                  "type": "object",
                  "properties": {
                    "summary": {
                      "description": "Summary object",
                      "type": "object",
                      "readOnly": true,
                      "properties": {
                        "lengthInMeters": {
                          "description": "Length In Meters property",
                          "type": "integer",
                          "readOnly": true
                        },
                        "travelTimeInSeconds": {
                          "description": "Travel Time In Seconds property",
                          "type": "integer",
                          "readOnly": true
                        },
                        "trafficDelayInSeconds": {
                          "description": "Traffic Delay In Seconds property",
                          "type": "integer",
                          "readOnly": true
                        },
                        "departureTime": {
                          "description": "Departure Time property",
                          "type": "string",
                          "readOnly": true
                        },
                        "arrivalTime": {
                          "description": "Arrival Time property",
                          "type": "string",
                          "readOnly": true
                        }
                      }
                    },
                    "points": {
                      "description": "Points array",
                      "type": "array",
                      "readOnly": true,
                      "items": {
                        "type": "object",
                        "properties": {
                          "latitude": {
                            "description": "Latitude property",
                            "type": "number",
                            "readOnly": true
                          },
                          "longitude": {
                            "description": "Longitude property",
                            "type": "number",
                            "readOnly": true
                          }
                        }
                      }
                    }
                  }

                }
              },
              "sections": {
                "description": "Sections object",
                "type": "array",
                "readOnly": true,
                "items": {
                  "type": "object",
                  "properties": {
                    "startPointIndex": {
                      "description": "Start Point Index property",
                      "type": "integer",
                      "readOnly": true
                    },
                    "endPointIndex": {
                      "description": "End Point Index property",
                      "type": "integer",
                      "readOnly": true
                    },
                    "sectionType": {
                      "description": "Section Type property",
                      "type": "string",
                      "readOnly": true
                    },
                    "travelMode": {
                      "description": "Travel Mode property",
                      "type": "string",
                      "readOnly": true
                    }
                  }
                }
              }
            }
          }
        }
      }
    },

    "timezonebyid200": {
      "description": "This object is returned from a successful Timezone By ID call",
      "type": "object",
      "properties": {
        "version": {
          "description": "Version property",
          "type": "string",
          "readOnly": true
        },
        "referenceUtcTimestamp": {
          "description": "Reference Utc Timestamp property",
          "type": "string",
          "readOnly": true
        },
        "timeZones": {
          "description": "TimeZones array",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "object",
            "properties": {
              "Id": {
                "description": "Id property",
                "type": "string",
                "readOnly": true
              },
              "ReferenceTime": {
                "description": "Reference Time object",
                "type": "object",
                "readOnly": true,
                "properties": {
                  "Tag": {
                    "description": "Tag property",
                    "type": "string",
                    "readOnly": true
                  },
                  "StandardOffset": {
                    "description": "Standard Offset property",
                    "type": "string",
                    "readOnly": true
                  },
                  "DaylightSavings": {
                    "description": "Daylight Savings property",
                    "type": "string",
                    "readOnly": true
                  },
[...]
